
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Ecommerce Development, Web And Mobile Development - Kenang Integrated Solutions </title>
    <meta name="description" content="Kenang Integrated Solutions">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/icomoon.css">
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/baseicon.css">
    <link rel="stylesheet" href="~/assets/css/uicon.css">
    <link rel="stylesheet" href="~/assets/css/webicon.min.css">
    <link rel="stylesheet" href="~/assets/css/default.css">
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    @RenderSection("styles", required:false)
</head>
<body>
    <!-- Preloader start -->
    <div class="preloader_bg"></div>
    <div id="preLoader">
        <div id="preloader__process">
            <div class="loader-pos loader"> <span></span> </div>
        </div>
    </div>
    <!-- Preloader end -->
    <!-- header area start  -->
    <header class="header-wrap">
        <!-- header top -->
        <div class="top__bar-four green-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 d-xl-block d-none">
                        <div class="left">
                            <div class="mail">
                                <a href="mailto:contact@kenang.co.za"><i class="baseicon-email"></i>contact@kenang.co.za</a>
                            </div>
                            <div class="opening__time">
                                <p><i class="baseicon-clock"></i>Opening Hours: 7:00 - 21:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-xl-block d-none">
                        <div class="right">
@*                            <ul class="top__nav">
                                <li><a href="#ourstory">About</a></li>
                                <li><a asp-action="Faq" asp-controller="Home">Faq</a></li>
                            </ul>
                            <ul class="top__social">
                                <li class="title">Let's Get Social</li>
                                <li><a href="javascript:void(0)"><i class="neticon-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="neticon-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="neticon-instagram"></i></a></li>
                                <li><a class="mr--0" href="javascript:void(0)"><i class="neticon-linkedin"></i></a></li>
                            </ul>*@
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <!-- header Navigation -->
        <div class="site-navigation">
            <div class="container-fluid">
                <div class="main__menu">
                    <div class="site-branding">
                        <a asp-action="Index" asp-controller="Home" class="brand-logo"><img src="~/assets/img/logo/logo.png" alt="Site Logo"></a>
                    </div>
                    <div class="nav-menu">
                        <!-- Navbar Close -->
                        <div class="navbar-close"><i class="ti-close"></i></div>
                        <!-- Nav Search -->
                        <div class="nav-search">
                            <form>
                                <div class="form_group">
                                    <input type="email" class="form_control" placeholder="Search Here" name="email" required>
                                    <button class="search-btn"><i class="uicon-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </div>

                        <!-- Main Menu -->
@*                        <nav class="main-menu">
                            <ul>
                                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                <li><a href="#ourstory"> Our Story</a></li>
                                <li><a asp-action="Web" asp-controller="Service">Web Development</a></li>
                                <li><a asp-action="Index" asp-controller="Service">Our Capabilities</a></li>

                                <li  class="dropdwn">
                                    <a href="javascript:void(0)">Services</a>
                                      <ul  class="sub-menu">
                                        <li><a asp-action="Web" asp-controller="Service">Web Development</a></li>
                                        <li><a asp-action="Mobile" asp-controller="Service">Mobile App Development</a></li>
                                        <li><a asp-action="Ecommerce" asp-controller="Service">Ecommerce Development</a></li>
                                        <li><a asp-action="PaymentsIntegration" asp-controller="Service">Payments & Merchant Integration</a></li>
                                        <li><a asp-action="SupportMaintenance" asp-controller="Service">Support & Maintenance</a></li>
                                    <li>
                                                <a asp-action="Index" asp-controller="Service">
                                                    <span>All Services</span>
                                                    <i class="icon-arrow-right"></i>
                                                </a>
                                    </li>

                                    </ul>
                                </li>
                                <li><a asp-action="UnderConstruction" asp-controller="Home">Case Studies</a></li>

                            </ul>
                        </nav>
*@
                    </div>
                    <div class="header-right-nav">
                        <ul>
                            <li>
                                <a href="tel:+27679398796" class="header__phone">
                                    <span class="header__phone__icon">
                                        <i class="uicon-phone-ringing"></i>
                                    </span>
                                    <span class="header__phone__text">
                                        <strong>067-939-8796</strong>
                                        Call Us
                                    </span>
                                </a>
                            </li>
                            <li class="search-item"><a href="javascript:void(0)" data-toggle="modal" class="search-toggler"><i class="uicon-magnifying-glass"></i></a></li>
                            <li><button class="menu__toggle-btn sidebar-icon open"><span class="line"></span><span class="line"></span><span class="line"></span></button></li>
                            <li class="navbar-toggle-btn">
                                <div class="navbar-toggler">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end  -->
    <!-- Search Popup Start -->
    <div class="popup__search">
        <button class="close-search"><span class="ti-close"></span></button>
        <form action="#" class="popup__content">
            <div class="form-group">
                <input type="search" name="search-field" placeholder="Search Here..." required>
                <button type="submit"><i class="uicon-magnifying-glass"></i></button>
            </div>
        </form>
    </div>
    <!-- Search Popup end -->
    <main>
        <!-- Sidebar Area Start Here  -->
        <div id="sidebar_box">
            <div class="sidebar-box">
                <div class="inner__content">
                    <div class="sidebar-info">
                        <a href="index.html" class="logo"><img class="img-fluid" src="assets/img/logo/logo.png" alt="Logo"></a>
                        <p>A Johannesburg-based agency helping businesses and entrepreneurs compete in the digital commerce space with innovative integrated software solutions.</p>
                    </div>
                    <div class="sidebar-contact__info mt-25 mb-25">
                        <h4>Contact Info</h4>
                        <div class="contact-item">
                            <i class="baseicon-phone"></i>
                            <div class="info__text">
                                <h4>Call Us</h4>
                                <a href="tel:+27679398796">067-939-8796</a>
                            </div>
                        </div>
                        <div class="contact-item">
                            <i class="baseicon-email"></i>
                            <div class="info__text">
                                <h4>Email Us</h4>
                                <a href="mailto:contact@kenang.co.za">contact@kenang.co.za</a>
                            </div>
                        </div>
                        <div class="contact-item">
                            <i class="baseicon-location"></i>
                            <div class="info__text">
                                <h4>Office Address</h4>
                                <div class="info__text">
                                    <p>Temporarily Remote</p>
                                </div>
                            </div>
                        </div>
                        <div class="contact-item">
                            <i class="baseicon-clock"></i>
                            <div class="info__text">
                                <h4>Opening Hours</h4>
                                <div class="info__text">
                                    <p>07:00 - 21:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
@*                    <div class="sidebar-social__wrap">
                        <h4>Follow Us</h4>
                        <ul class="sidebar-social__icons">
                            <li><a href="javascript:void(0)"><i class="neticon-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="neticon-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="neticon-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="neticon-linkedin"></i></a></li>
                        </ul>
                    </div>*@
                    <span class="sidebar-box__icon close"><i class="ti-close"></i></span>
                </div>
            </div>
        </div>
        <!-- Sidebar Area end  -->
        <div class="body-overlay"></div>


 @RenderBody()


    </main>
    <!-- Footer area start  -->
    <footer class="site__footer">
        <div class="footer__widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="footer__widget">
                            <div class="footer-logo mb-30">
                                <a asp-action=""><img src="assets/img/logo/logo-white.png" alt="logo"></a>
                            </div>
                            <div class="textwidget">
                                <p>A Johannesburg-based digital product agency that partners with businesses to transform their ecommerce and retail technologies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 pl-45 md-pl-15 md-mb-30">
                        <div class="footer__widget">
                            <h3 class="widget__title">IT Services</h3>
                            <ul class="footer__link">
                                <li><a href="javascript:void(0)">Web Development</a></li>
                                <li><a href="javascript:void(0)">Mobile App Development</a></li>
                                <li><a href="javascript:void(0)">Ecommerce Development</a></li>
                                <li><a href="javascript:void(0)">Cloud Development</a></li>
                                <li><a href="javascript:void(0)">Product Strategy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 md-mb-30">
                        <div class="footer__widget">
                            <h3 class="widget__title">Contact Info</h3>
                            <ul class="footer__info">
                                <li>
                                    <i class="baseicon-call"></i>
                                    <div class="phone">
                                        <a href="tel:+27679398796">067-939-8796</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="baseicon-email"></i>
                                    <div class="email">
                                        <a href="mailto:contact@kenang.co.za">contact@kenang.co.za</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="baseicon-location"></i>
                                    <p>Temporarily Remote</p>
                                </li>
                                <li>
                                    <i class="baseicon-clock"></i>
                                    <p>
                                        Opening Hours: 07:00 - 21:00
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
@*                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="footer__widget">
                            <ul class="footer__social md-mb-10">
                                <li>
                                    <a href="javascript:void(0)"><i class="neticon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0) "><i class="neticon-twitter"></i></a>
                                </li>
                             
                                <li>
                                    <a href="javascript:void(0) "><i class="neticon-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="footer__copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright">
                            <p>&copy; 2023 Kenang All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer area end  -->
    <!-- JS here -->
    <script src="~/assets/js/vendor/jquery-3.6.1.min.js"></script>
    <script src="~/assets/js/vendor/waypoints.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.appear.min.js"></script>
    <script src="~/assets/js/contactForm.js"></script>
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <script src="~/assets/js/odometer.min.js"></script>
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <script src="~/assets/js/parallax.min.js"></script>
    <script src="~/assets/js/jarallax.min.js"></script>
    <script src="~/assets/js/easing.js"></script>
    <script src="~/assets/js/parallax-scroll.js"></script>
    <script src="~/assets/js/nice-select.min.js"></script>
    <script src="~/assets/js/counterup.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("scripts", required:false)

</body>
</html>