         <!-- Page title area  -->
<section class="page-title-area breadcrumb__spacing" data-background="assets/img/bg/title-bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-9">
                <div class="page-title-wrapper text-center">
                    <h3 class="page-title mb-25">About Us</h3>
                    <div class="breadcrumb__menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb__trail breadcrumbs">
                            <ul class="trail-items">
                                <li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
                                <li class="trail-item trail-end"><span>About Us</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page title area end -->
<!-- About Us Area Start Here -->
<section class="about about__gray-bg p-relative pt-100 pb-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about-img-wrapper p-relative mb-60 wow fadeInLeft delay-0-2s">
                    <div class="about-top w-img">
                        <img src="assets/img/about-01-s.jpg" alt="About">
                    </div>
                    <div class="about-main w-img">
                        <img src="assets/img/about-01.jpg" alt="About">
                    </div>
                    <div class="exp__box clip-box-sm">
                        <span><i class="ti-cup"></i></span>
                        <h4 class="about-title">25 Years of experience</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-content mb-60 wow fadeInRight delay-0-3s">
                    <div class="section-title">
                        <span>Company Benefits</span>
                        <h3 class="title">The Best Tech Solutions for Our Clients</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even. Vestibulum non sollicitudin diam. Sed malesuada dolor ac sem ipsum ullamcorper.</p>
                    </div>
                    <div class="about__inner-content p-relative">
                        <div class="about-features mt-40">
                            <div class="icon">
                                <i aria-hidden="true" class="baseicon-reliability"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Moneyback Guarantee</h5>
                                <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            </div>
                        </div>
                        <div class="about-features">
                            <div class="icon">
                                <i aria-hidden="true" class="baseicon-operation"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">End to End Developement</h5>
                                <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row founder__wrapper align-items-center mt-40">
                        <!-- left area start -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="founder__author-inner">
                                <a class="founder__img" href="#"><img src="assets/img/sm-01.png" alt="finbiz_founder"></a>
                                <div class="founder__author-details">
                                    <a href="team-details.html">
                                        <h6 class="title">Adrew David</h6>
                                    </a>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                        <!-- left area end -->
                        <!-- right founder area -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="founder__call">
                                <div class="call__icon">
                                    <i class="uicon-phone-ringing"></i>
                                </div>
                                <div class="call-details">
                                    <span>Call Us Anytime</span>
                                    <a href="tel:+12025550918">
                                        <h6 class="title">+1-(202)-555-0918</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- left founder area -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area end -->
<!-- Team Area Start Here  -->
<section class="team-area grey-bg-4 pt-115 md-pt-60 pb-70 md-pb-60">
    <div class="container">
        <div class="row justify-content-center mb-35">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span>Our Expert Team</span>
                    <h3 class="title">Meet Our Professional Team Members</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 service__wrap">
                <div class="swiper-container team-slider wow fadeInUp delay-0-3s">
                    <div class="swiper-wrapper mt-10">
                        <div class="swiper-slide">
                            <!-- Slide1 -->
                            <article class="team__member mb-30">
                                <div class="team__member-img">
                                    <img src="assets/img/team/team_01.jpg" alt="">
                                    <div class="team__member-img-bg"></div>
                                    <div class="team__member-socials">
                                        <a href="javascript:void(0)"><i class="bx bxl-facebook"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="team__member-details">
                                    <h4>Daniel Steven</h4>
                                    <small>Web Designer</small>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <!-- Slide2 -->
                            <article class="team__member mb-30">
                                <div class="team__member-img">
                                    <img src="assets/img/team/team_02.jpg" alt="">
                                    <div class="team__member-img-bg"></div>
                                    <div class="team__member-socials">
                                        <a href="javascript:void(0)"><i class="bx bxl-facebook"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="team__member-details">
                                    <h4>Beckett Hayden</h4>
                                    <small>Senior Developer</small>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <!-- Slide3 -->
                            <article class="team__member mb-30">
                                <div class="team__member-img">
                                    <img src="assets/img/team/team_04.jpg" alt="">
                                    <div class="team__member-img-bg"></div>
                                    <div class="team__member-socials">
                                        <a href="javascript:void(0)"><i class="bx bxl-facebook"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="team__member-details">
                                    <h4>Jackline Deo</h4>
                                    <small>Project Manager</small>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <!-- Slide4 -->
                            <article class="team__member mb-30">
                                <div class="team__member-img">
                                    <img src="assets/img/team/team_03.jpg" alt="">
                                    <div class="team__member-img-bg"></div>
                                    <div class="team__member-socials">
                                        <a href="javascript:void(0)"><i class="bx bxl-facebook"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="team__member-details">
                                    <h4>Amelia Clover</h4>
                                    <small>UI/UX Designer</small>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <!-- Slide5 -->
                            <article class="team__member mb-30">
                                <div class="team__member-img">
                                    <img src="assets/img/team/team_05.jpg" alt="">
                                    <div class="team__member-img-bg"></div>
                                    <div class="team__member-socials">
                                        <a href="javascript:void(0)"><i class="bx bxl-facebook"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="team__member-details">
                                    <h4>Nelson Decosta</h4>
                                    <small>Frontend Developer</small>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <!-- Slide6 -->
                            <article class="team__member mb-30">
                                <div class="team__member-img">
                                    <img src="assets/img/team/team_06.jpg" alt="">
                                    <div class="team__member-img-bg"></div>
                                    <div class="team__member-socials">
                                        <a href="javascript:void(0)"><i class="bx bxl-facebook"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="bx bxl-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="team__member-details">
                                    <h4>Michle Collins</h4>
                                    <small>Graphic Designer</small>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Area end  -->
<!-- Why choose Start Here  -->
<section class="why__choose-area pb-100 md-pt-60 pt-120 md-pb-60">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="why-choose__content wow fadeInLeft delay-0-4s">
                    <div class="section-title">
                        <span>Why Choose Us</span>
                        <h3 class="title">We Provide Solutions to Engage Customers</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore aliqua lonm andhn.</p>
                    </div>
                    <div class="why__choose-wrapper mt-40 md-mt-30 pr-60 md-pr-0">
                        <div class="why__choose-item">
                            <div class="why__choose-icon">
                                <i class="uicon-web-design"></i>
                            </div>
                            <div class="why__choose-content">
                                <h3 class="why__choose-title">Fast Growing Sells</h3>
                                <p class="why__choose-text">
                                    Lorem ipsum dolor consectetur notte massa sapien samet.
                                    Aucibus sed sem non, mattis commodo nisi.
                                </p>
                            </div>
                        </div>
                        <div class="why__choose-item">
                            <div class="why__choose-icon">
                                <i class="uicon-technical-support"></i>
                            </div>
                            <div class="why__choose-content">
                                <h3 class="why__choose-title">24/7 Quality Services</h3>
                                <p class="why__choose-text">
                                    Lorem ipsum dolor consectetur notte massa sapien samet.
                                    Aucibus sed sem non, mattis commodo nisi.
                                </p>
                            </div>
                        </div>
                        <div class="why__choose-item">
                            <div class="why__choose-icon">
                                <i class="uicon-dashboard"></i>
                            </div>
                            <div class="why__choose-content">
                                <h3 class="why__choose-title">Best Quality Services</h3>
                                <p class="why__choose-text">
                                    Lorem ipsum dolor consectetur notte massa sapien samet.
                                    Aucibus sed sem non, mattis commodo nisi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 md-mt-40">
                <div class="why__choose-img p-relative m-img wow fadeInRight delay-0-5s">
                    <img src="assets/img/why-choooe-img.jpg" alt="">
                    <div class="play__btn-wrapper">
                        <a href="https://www.youtube.com/watch?v=tqpPBBNspTE" class="why__choose-video-btn border__pulse popup-video">
                            <span class="play__video-bg"></span>
                            <svg width="17" height="17" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 11L0 21.3923V0.607696L18 11Z" fill="currentColor" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why choose end  -->
<!-- Testimonial-area-start -->
<section class="testimonial-area pt-115 md-pt-60 pb-100 md-pb-60 include-bg jarallax" data-overlay="light" data-overlay-opacity="3" data-background="assets/img/testimonial/testimonial-bg.png">
    <div class="container">
        <div class="row justify-content-center mb-35">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span>Client Testimonials</span>
                    <h3 class="title">What They’re Talking?</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper-container testimonial-slider wow fadeInUp delay-0-3s">
                    <div class="swiper-wrapper mt-10">
                        <div class="swiper-slide col-lg-4">
                            <!-- Slide1 -->
                            <article class="testi__item">
                                <div class="testi__head">
                                    <div class="testi__user">
                                        <div class="testi__img">
                                            <img src="assets/img/testimonial/auth-1.png" alt="">
                                        </div>
                                        <div class="testi__user-info">
                                            <h5 class="title">John Doe</h5>
                                            <span>Senior Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testi__content">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas quo, debitis maiores autem amet qui asperiores quisquam animi distinctio deserunt! Repudiandae, consequuntur.</p>
                                </div>
                                <div class="ratings">
                                    <ul class="star-icons">
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                    </ul>
                                    <i class="uicon-right-quote"></i>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide col-lg-4">
                            <!-- Slide2 -->
                            <article class="testi__item">
                                <div class="testi__head">
                                    <div class="testi__user">
                                        <div class="testi__img">
                                            <img src="assets/img/testimonial/auth-2.png" alt="">
                                        </div>
                                        <div class="testi__user-info">
                                            <h5 class="title">Mike Joy</h5>
                                            <span>Graphic Designer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testi__content">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore voluptatibus voluptate ipsa maxime culpa earum obcaecati sunt alias optio? Modi.</p>
                                </div>
                                <div class="ratings">
                                    <ul class="star-icons">
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                    </ul>
                                    <i class="uicon-right-quote"></i>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide col-lg-4">
                            <!-- Slide3 -->
                            <article class="testi__item">
                                <div class="testi__head">
                                    <div class="testi__user">
                                        <div class="testi__img">
                                            <img src="assets/img/testimonial/auth-3.png" alt="">
                                        </div>
                                        <div class="testi__user-info">
                                            <h5 class="title">Daniel Steven </h5>
                                            <span>Senior Designer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testi__content">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A vitae officiis debitis, architecto commodi, pariatur est officia aperiam ex exercitationem necessitatibus optio.</p>
                                </div>
                                <div class="ratings">
                                    <ul class="star-icons">
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                        <li><i class="ti-star"></i></li>
                                    </ul>
                                    <i class="uicon-right-quote"></i>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area end -->