      <!-- Page title area  -->
<section class="page-title-area breadcrumb__spacing" data-background="assets/img/bg/title-bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-9">
                <div class="page-title-wrapper text-center">
                    <h3 class="page-title mb-25">Projects</h3>
                    <div class="breadcrumb__menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb__trail breadcrumbs">
                            <ul class="trail-items">
                                <li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
                                <li class="trail-item trail-end"><span>Projects</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page title area end -->
<!-- Project area start  -->
<section class="portfolio__area grey-bg-4 pt-115 md-pt-60 pb-90 md-pb-50">
    <div class="container">
        <div class="row justify-content-center mb-35 md-mb-20">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span>Our Case Studies</span>
                    <h3 class="title">Check Our Most Recent Project</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container wow slideInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="project__menu filter__btn-group mb-55 md-mb-35">
                    <button class="active" data-filter="*">View All</button>
                    <button data-filter=".c1">Web Design</button>
                    <button data-filter=".c2">App Development</button>
                    <button data-filter=".c3">Graphic Design</button>
                    <button data-filter=".c4">Seo</button>
                </div>
            </div>
        </div>
        <div class="row grid mb-30 wow fadeInUp delay-0-2s">
            <div class="col-xl-4 col-lg-6 col-md-6 c2 c3">
                <article class="project__wrap mb-30">
                    <div class="project__item">
                        <div class="project__img-wrapper">
                            <div class="project__img w-img">
                                <img src="assets/img/projects/project-img01.jpg" alt="">
                            </div>
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">
                                <a href="project-details.html">Web Design</a>
                            </h3>
                            <div class="project__icon">
                                <i class="neticon-marker"></i>
                                Aberdeen City, UK
                            </div>
                        </div>
                        <div class="project__content">
                            <div class="project__content-inner">
                                <h3 class="project__title">
                                    <a href="project-details.html">Web Design</a>
                                </h3>
                            </div>
                            <div class="project__hover-content">
                                <p> If you are going to use a passage of you need to be sure there anything hidden in the middle.</p>
                            </div>
                            <div class="project__btn">
                                <a href="project-details.html"><i class="icon-arrow-right icon-outlined"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 c1 c3">
                <article class="project__wrap mb-30">
                    <div class="project__item">
                        <div class="project__img-wrapper">
                            <div class="project__img w-img">
                                <img src="assets/img/projects/project-img02.jpg" alt="">
                            </div>
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">
                                <a href="project-details.html">Web Development</a>
                            </h3>
                            <div class="project__icon">
                                <i class="neticon-marker"></i>
                                Aberdeen City, UK
                            </div>
                        </div>
                        <div class="project__content">
                            <div class="project__content-inner">
                                <h3 class="project__title">
                                    <a href="project-details.html">Web Development</a>
                                </h3>
                            </div>
                            <div class="project__hover-content">
                                <p> If you are going to use a passage of you need to be sure there anything hidden in the middle.</p>
                            </div>
                            <div class="project__btn">
                                <a href="project-details.html"><i class="icon-arrow-right icon-outlined"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 c1 c4 c2">
                <article class="project__wrap mb-30">
                    <div class="project__item">
                        <div class="project__img-wrapper">
                            <div class="project__img w-img">
                                <img src="assets/img/projects/project-img03.jpg" alt="">
                            </div>
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">
                                <a href="project-details.html">Graphic Design</a>
                            </h3>
                            <div class="project__icon">
                                <i class="neticon-marker"></i>
                                Aberdeen City, UK
                            </div>
                        </div>
                        <div class="project__content">
                            <div class="project__content-inner">
                                <h3 class="project__title">
                                    <a href="project-details.html">Graphic Design</a>
                                </h3>
                            </div>
                            <div class="project__hover-content">
                                <p> If you are going to use a passage of you need to be sure there anything hidden in the middle.</p>
                            </div>
                            <div class="project__btn">
                                <a href="project-details.html"><i class="icon-arrow-right icon-outlined"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 c2 c3">
                <article class="project__wrap mb-30">
                    <div class="project__item">
                        <div class="project__img-wrapper">
                            <div class="project__img w-img">
                                <img src="assets/img/projects/project-img04.jpg" alt="">
                            </div>
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">
                                <a href="project-details.html">Seo</a>
                            </h3>
                            <div class="project__icon">
                                <i class="neticon-marker"></i>
                                Aberdeen City, UK
                            </div>
                        </div>
                        <div class="project__content">
                            <div class="project__content-inner">
                                <h3 class="project__title">
                                    <a href="project-details.html">Seo</a>
                                </h3>
                            </div>
                            <div class="project__hover-content">
                                <p> If you are going to use a passage of you need to be sure there anything hidden in the middle.</p>
                            </div>
                            <div class="project__btn">
                                <a href="project-details.html"><i class="icon-arrow-right icon-outlined"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 c1 c4 c2">
                <article class="project__wrap mb-30">
                    <div class="project__item">
                        <div class="project__img-wrapper">
                            <div class="project__img w-img">
                                <img src="assets/img/projects/project-img05.jpg" alt="">
                            </div>
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">
                                <a href="project-details.html">Graphic Design</a>
                            </h3>
                            <div class="project__icon">
                                <i class="neticon-marker"></i>
                                Aberdeen City, UK
                            </div>
                        </div>
                        <div class="project__content">
                            <div class="project__content-inner">
                                <h3 class="project__title">
                                    <a href="project-details.html">Graphic Design</a>
                                </h3>
                            </div>
                            <div class="project__hover-content">
                                <p> If you are going to use a passage of you need to be sure there anything hidden in the middle.</p>
                            </div>
                            <div class="project__btn">
                                <a href="project-details.html"><i class="icon-arrow-right icon-outlined"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 c4 c1">
                <article class="project__wrap mb-30">
                    <div class="project__item">
                        <div class="project__img-wrapper">
                            <div class="project__img w-img">
                                <img src="assets/img/projects/project-img06.jpg" alt="">
                            </div>
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">
                                <a href="project-details.html">Web Development</a>
                            </h3>
                            <div class="project__icon">
                                <i class="neticon-marker"></i>
                                Aberdeen City, UK
                            </div>
                        </div>
                        <div class="project__content">
                            <div class="project__content-inner">
                                <h3 class="project__title">
                                    <a href="project-details.html">Web Development</a>
                                </h3>
                            </div>
                            <div class="project__hover-content">
                                <p> If you are going to use a passage of you need to be sure there anything hidden in the middle.</p>
                            </div>
                            <div class="project__btn">
                                <a href="project-details.html"><i class="icon-arrow-right icon-outlined"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 c2 c3">
                <article class="project__wrap mb-30">
                    <div class="project__item">
                        <div class="project__img-wrapper">
                            <div class="project__img w-img">
                                <img src="assets/img/projects/project-img07.jpg" alt="">
                            </div>
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">
                                <a href="project-details.html">App Development</a>
                            </h3>
                            <div class="project__icon">
                                <i class="neticon-marker"></i>
                                Aberdeen City, UK
                            </div>
                        </div>
                        <div class="project__content">
                            <div class="project__content-inner">
                                <h3 class="project__title">
                                    <a href="project-details.html">App Development</a>
                                </h3>
                            </div>
                            <div class="project__hover-content">
                                <p> If you are going to use a passage of you need to be sure there anything hidden in the middle.</p>
                            </div>
                            <div class="project__btn">
                                <a href="project-details.html"><i class="icon-arrow-right icon-outlined"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 c1 c3">
                <article class="project__wrap mb-30">
                    <div class="project__item">
                        <div class="project__img-wrapper">
                            <div class="project__img w-img">
                                <img src="assets/img/projects/project-img08.jpg" alt="">
                            </div>
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">
                                <a href="project-details.html">Seo</a>
                            </h3>
                            <div class="project__icon">
                                <i class="neticon-marker"></i>
                                Aberdeen City, UK
                            </div>
                        </div>
                        <div class="project__content">
                            <div class="project__content-inner">
                                <h3 class="project__title">
                                    <a href="project-details.html">Seo</a>
                                </h3>
                            </div>
                            <div class="project__hover-content">
                                <p> If you are going to use a passage of you need to be sure there anything hidden in the middle.</p>
                            </div>
                            <div class="project__btn">
                                <a href="project-details.html"><i class="icon-arrow-right icon-outlined"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 c1 c4 c2">
                <article class="project__wrap mb-30">
                    <div class="project__item">
                        <div class="project__img-wrapper">
                            <div class="project__img w-img">
                                <img src="assets/img/projects/project-img09.jpg" alt="">
                            </div>
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">
                                <a href="project-details.html">Web Design</a>
                            </h3>
                            <div class="project__icon">
                                <i class="neticon-marker"></i>
                                Aberdeen City, UK
                            </div>
                        </div>
                        <div class="project__content">
                            <div class="project__content-inner">
                                <h3 class="project__title">
                                    <a href="project-details.html">Web Design</a>
                                </h3>
                            </div>
                            <div class="project__hover-content">
                                <p> If you are going to use a passage of you need to be sure there anything hidden in the middle.</p>
                            </div>
                            <div class="project__btn">
                                <a href="project-details.html"><i class="icon-arrow-right icon-outlined"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Project area end -->