         <!-- Page title area  -->
<section class="page-title-area breadcrumb__spacing" data-background="assets/img/bg/title-bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-9">
                <div class="page-title-wrapper text-center">
                    <h3 class="page-title mb-25">Project Details</h3>
                    <div class="breadcrumb__menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb__trail breadcrumbs">
                            <ul class="trail-items">
                                <li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
                                <li class="trail-item trail-end"><span>Project Details</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page title area end -->
<!-- project details area start -->
<section class="project__details pt-120 pb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-12">
                <div class="project__detail-wrapper mb-60">
                    <div class="project__details-img-main m-img">
                        <img src="assets/img/projects/portfolio-detail-main.jpg" alt="portfolio">
                    </div>
                    <div class="project__detail-content">
                        <div class="project__detail-title mt-30">
                            <h3>Leading IT Technology Market</h3>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Metus dis posuere
                            amet
                            tincidunt commodo, velit. Ipsum, hac nibh fermentum nisi, platea condimentum
                            cursus
                            velit dui. Massa volutpat odio facilisis purus sit elementum. Non, sed velit
                            dictum
                            quam. Id risus pharetra est, at rhoncus, nec ullamcorper tincidunt. Id
                            aliquet duis
                            sollicitudin diam, elit sit. Et nisi in libero facilisis sed est. Elit
                            curabitur
                            amet risus bibendum. Posuere et eget orci, tempor enim.
                        </p>
                        <p>
                            Hac nibh fermentum nisi, platea condimentum cursus velit dui. Massa volutpat
                            odio
                            facilisis purus sit elementum. Non, sed velit dictum quam. Id risus pharetra
                            est, at
                            rhoncus, nec ullamcorper tincidunt. Id aliquet duis sollicitudin diam, elit
                            sit Et nisi in libero facilisis sed est. Elit curabitur amet risus bibendum.
                            Posuere et eget orci. sed velit dictum quam. Id risus pharetra est
                        </p>
                        <div class="list-widget mt-30">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="project__detail-content-quote">
                                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet iusto voluptatum quia debitis vero perspiciatis. Quam, odit omnis accusamus, pariatur reiciendis nostrum repellat eum nobis repudiandae cumque hic quaerat quibusdam!"</p>
                                        <span>Robert - <span>Company</span></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="project__detail-title">
                                        <h3>Our Strategies</h3>
                                    </div>
                                    <p>
                                        Massa volutpat odio facilisis purus sit elementum. Non, sed velit dictum
                                        quam. Id
                                        risus pharetra est, at rhoncus, nec ullamcorper tincidunt. Id aliquet duis
                                        sollicitudin diam.
                                    </p>
                                    <ul>
                                        <li>Non saed velit dictum quam risus pharetra esta.</li>
                                        <li>Id risus pharetra est, at rhoncus, nec ullamcorper tincidunt.</li>
                                        <li>Hac nibh fermentum nisi, platea condimentum cursus.</li>
                                        <li>Massa volutpat odio facilisis purus sit elementum.</li>
                                        <li>Elit curabitur amet risus bibendum.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mt-20">
                            <div class="project__detail-title">
                                <h3>Our Approach</h3>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat suspendisse aenean
                                tellus augue morbi risus. Sit morbi vitae morbi sed urna sed purus. Orci facilisi
                                eros sed pellentesque. Risus id sed tortor sed scelerisque. Vestibulum elit
                                elementum, magna id viverra non, velit. Pretium, eros, porttitor fusce auctor vitae
                                id. Phasellus scelerisque nibh eleifend vel enim mauris purus. Rutrum vel sem
                                adipiscing nisi vulputate molestie scelerisque molestie ultrices. Eu, fusce
                                vulputate diam interdum morbi ac a.
                            </p>
                        </div>
                        <div class="project__detail-gallery">
                            <div class="row mt-4">
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="detail__img-box">
                                        <div class="project__details-img w-img">
                                            <img src="assets/img/projects/portfolio-detail-01.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="detail__img-box">
                                        <div class="project__details-img w-img">
                                            <img src="assets/img/projects/portfolio-detail-02.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-widget">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="project__detail-title">
                                        <h3>Recieved Goals</h3>
                                    </div>
                                    <ul>
                                        <li>Non saed velit dictum quam risus pharetra esta.</li>
                                        <li>Id risus pharetra est, at rhoncus, nec ullamcorper tincidunt.</li>
                                        <li>Hac nibh fermentum nisi, platea condimentum cursus.</li>
                                        <li>Massa volutpat odio facilisis purus sit elementum.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 list-widget-s">
                                    <div class="project__detail-title">
                                        <h3>Results</h3>
                                    </div>
                                    <ul>
                                        <li>Mauris dignissim blandit cursus imperdiet accumsan lorem.</li>
                                        <li>Nam id in non sed cras purus nunc et.</li>
                                        <li>Mauris orci, cursus nisl odio est adipiscing gravida magna eget.</li>
                                        <li>Quis mauris vel felis convallis nulla dignissim.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- project details area end -->