<!-- Page title area  -->
<section class="page-title-area breadcrumb__spacing" data-background="assets/img/bg/ecommerce-title-bg.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-9">
                <div class="page-title-wrapper text-center">
                    <h3 class="page-title mb-25">Digital Commerce Solutions</h3>
                    <div class="breadcrumb__menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb__trail breadcrumbs">
                            <ul class="trail-items">
                                <li class="trail-item trail-begin"><a href="index.html"><span>Services</span></a></li>
                                <li class="trail-item trail-end"><span>Ecommerce Development</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page title area end -->
<!-- service details area start -->
<section class="service__details-area pt-120 md-pt-60 pb-60">
    <div class="container">
        <div class="row">
            @*            <div class="col-xxl-4 col-lg-4">
            <div class="widget__sidebar-wrapper pb-60">
            <div class="widget__sidebar category__widget service__widget">
            <h3 class="widget__sidebar-title">Services</h3>
            <div class="widget__sidebar-content">
            <ul>
            <li><a href="javascript:void(0)">Web Design<span>03</span></a></li>
            <li><a href="javascript:void(0)">App Development <span>07</span></a></li>
            <li><a href="javascript:void(0)">IT Services <span>09</span></a></li>
            <li><a href="javascript:void(0)">Software Development <span>01</span></a></li>
            <li><a href="javascript:void(0)">Web Development <span>00</span></a></li>
            <li><a href="javascript:void(0)">Seo <span>26</span></a></li>
            </ul>
            </div>
            </div>
            </div>
            </div>*@
            <div class="col-xxl-8 col-lg-8 col-12">
                <div class="service__details-wrapper">
                    <div class="service__details-content">
                        @*      <div class="service__details-main-img w-img">
                        <img src="~/assets/img/services/services-details-img.jpg" alt="">
                        </div>*@
                        <div class="service__details-title">
                            <h3>Cloud Based Services for Mobile Apps</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nobis rerum neque reiciendis quidem. Ipsa, illo, harum saepe dicta ab voluptatibus voluptas aliquam praesentium rem fugiat, laudantium debitis mollitia. Nisi accusantium laboriosam, enim possimus excepturi ipsa qui necessitatibus! Voluptates, quas?</p>
                        <p>
                            Hac nibh fermentum nisi, platea condimentum cursus velit dui. Massa volutpat odio
                            facilisis purus sit elementum. Non, sed velit dictum quam. Id risus pharetra est, at
                            rhoncus, nec ullamcorper tincidunt. Id aliquet duis sollicitudin diam, elit sit.
                        </p>
                        <div class="row mt-4">
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="service__details-img m-img mb-10 md-mb-20">
                                    <img src="assets/img/team/team-details-01.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="service__details-img m-img mb-10">
                                    <img src="assets/img/team/team-details-02.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service__details-content list__text">
                        <div class="service__details-title">
                            <h3>Our Capabilities</h3>
                        </div>
                        <p>
                            Massa volutpat odio facilisis purus sit elementum. Non, sed velit dictum quam. Id
                            risus pharetra est, at rhoncus, nec ullamcorper tincidunt. Id aliquet duis
                            sollicitudin diam.
                        </p>
                        <ul>
                            <li>Non saed velit dictum quam risus pharetra esta.</li>
                            <li>Id risus pharetra est, at rhoncus, nec ullamcorper tincidunt.</li>
                            <li>Hac nibh fermentum nisi, platea condimentum cursus.</li>
                            <li>Massa volutpat odio facilisis purus sit elementum.</li>
                            <li>Elit curabitur amet risus bibendum.</li>
                        </ul>
                    </div>
                    <div class="service__details-content">
                        <div class="service__details-title">
                            <h3>Our approach</h3>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat suspendisse aenean
                            tellus augue morbi risus. Sit morbi vitae morbi sed urna sed purus. Orci facilisi
                            eros sed pellentesque. Risus id sed tortor sed scelerisque. Vestibulum elit
                            elementum, magna id viverra non, velit. Pretium, eros, porttitor fusce auctor vitae
                            id. Phasellus scelerisque nibh eleifend vel enim mauris purus. Rutrum vel sem
                            adipiscing nisi vulputate molestie scelerisque molestie ultrices. Eu, fusce
                            vulputate diam interdum morbi ac a.
                        </p>
                    </div>
                    <div class="service__details-content list__text">
                        <div class="service__details-title">
                            <h3>Our Work Process</h3>
                        </div>
                        <ul>
                            <li>Non saed velit dictum quam risus pharetra esta.</li>
                            <li>Id risus pharetra est, at rhoncus, nec ullamcorper tincidunt.</li>
                            <li>Hac nibh fermentum nisi, platea condimentum cursus.</li>
                            <li>Massa volutpat odio facilisis purus sit elementum.</li>
                        </ul>
                    </div>
                    <div class="service__details-content">
                        <div class="service__details-title">
                            <h3>Related Service</h3>
                        </div>
                        <div class="service__area">
                            <div class="row service__wrap">
                                <div class="col-12">
                                    <div class="swiper-container single-service-slider wow fadeInUp delay-0-3s">
                                        <div class="swiper-wrapper mt-10">
                                            <div class="swiper-slide col-lg-4">
                                                <!-- Slide6 -->
                                                <article class="service__item">
                                                    <div class="service__overlay"></div>
                                                    <div class="service__content">
                                                        <div class="d-table w-100">
                                                            <div class="d-table-cell align-middle">
                                                                <div class="service__icon">
                                                                    <svg fill="#5f2dee" id="Layer_5" enable-background="new 0 0 64 64" height="60px"
                                                                         viewBox="0 0 64 64" width="60px" xmlns="http://www.w3.org/2000/svg">
                                                                        <g>
                                                                            <path d="m46 7c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11zm0 20c-4.962 0-9-4.038-9-9s4.038-9 9-9 9 4.038 9 9-4.038 9-9 9z" />
                                                                            <path d="m60.266 13.394c-.248-.772-.556-1.519-.919-2.229l1.312-2.549-5.274-5.274-2.549 1.312c-.71-.363-1.457-.671-2.229-.919l-.878-2.735h-7.459l-.876 2.734c-.772.248-1.519.556-2.229.919l-2.549-1.312-5.274 5.274 1.226 2.385h-28.568c-1.654 0-3 1.346-3 3v42c0 1.654 1.346 3 3 3h35.685c1.126 2.361 3.53 4 6.315 4 3.86 0 7-3.14 7-7 0-3.519-2.613-6.432-6-6.92v-12.08h-2v12.08c-3.387.488-6 3.401-6 6.92 0 .34.033.672.08 1h-35.08c-.551 0-1-.449-1-1v-31h29.569l-1.227 2.384 5.274 5.274 2.549-1.312c.71.363 1.457.671 2.229.919l.877 2.735h7.459l.876-2.734c.772-.248 1.519-.556 2.229-.919l2.549 1.312 5.274-5.274-1.312-2.548c.363-.709.67-1.456.919-2.229l2.735-.879v-7.459zm-14.266 37.606c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5 2.243-5 5-5zm-43-37c0-.551.449-1 1-1h27.879c-.047.132-.101.26-.144.394l-2.735.877v7.459l2.734.876c.043.134.098.262.144.394h-28.878zm58 6.271-2.356.755-.146.517c-.279.988-.667 1.928-1.153 2.795l-.263.469 1.13 2.195-3.211 3.211-2.195-1.129-.468.262c-.869.486-1.81.875-2.796 1.153l-.517.146-.754 2.355h-4.541l-.755-2.356-.517-.146c-.986-.279-1.927-.667-2.796-1.153l-.468-.262-2.195 1.129-3.211-3.211 1.13-2.195-.263-.469c-.486-.867-.874-1.808-1.153-2.795l-.146-.517-2.356-.754v-4.541l2.356-.755.146-.517c.279-.986.667-1.927 1.153-2.796l.262-.468-1.129-2.195 3.211-3.211 2.195 1.129.468-.262c.869-.486 1.81-.875 2.796-1.153l.517-.146.754-2.356h4.541l.755 2.356.517.146c.986.279 1.927.667 2.796 1.153l.468.262 2.195-1.129 3.211 3.211-1.129 2.195.262.468c.486.869.875 1.81 1.153 2.796l.146.517 2.356.754z" />
                                                                            <path d="m48.2 14.6 2.55 3.4-2.55 3.4 1.6 1.2 3.45-4.6-3.45-4.6z" />
                                                                            <path d="m42.2 13.4-3.45 4.6 3.45 4.6 1.6-1.2-2.55-3.4 2.55-3.4z" />
                                                                            <path d="m38.929 17h14.142v2h-14.142z"
                                                                                  transform="matrix(.142 -.99 .99 .142 21.667 60.987)" />
                                                                            <path d="m17 15h-10c-1.103 0-2 .897-2 2v2c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2v-2c0-1.103-.897-2-2-2zm-4 2v2h-2v-2zm-6 0h2v2h-2zm8 2v-2h2l.001 2z" />
                                                                            <path d="m46 59c1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3 1.346 3 3 3zm0-4c.551 0 1 .449 1 1s-.449 1-1 1-1-.449-1-1 .449-1 1-1z" />
                                                                            <path d="m59 49.184v-3.598l-4-4v-7.586h-2v8.414l4 4v2.77c-1.161.414-2 1.514-2 2.816 0 1.654 1.346 3 3 3s3-1.346 3-3c0-1.302-.839-2.402-2-2.816zm-1 3.816c-.551 0-1-.449-1-1s.449-1 1-1 1 .449 1 1-.449 1-1 1z" />
                                                                            <path d="m39 42.414v-8.414h-2v7.586l-4 4v3.598c-1.161.414-2 1.514-2 2.816 0 1.654 1.346 3 3 3s3-1.346 3-3c0-1.302-.839-2.402-2-2.816v-2.77zm-5 10.586c-.551 0-1-.449-1-1s.449-1 1-1 1 .449 1 1-.449 1-1 1z" />
                                                                            <path d="m10 29h1v-2h-1c-1.654 0-3 1.346-3 3 0 .551-.449 1-1 1h-1v2h1c.551 0 1 .449 1 1 0 1.654 1.346 3 3 3h1v-2h-1c-.551 0-1-.449-1-1 0-.771-.301-1.468-.78-2 .479-.532.78-1.229.78-2 0-.551.449-1 1-1z" />
                                                                            <path d="m13 27h12v2h-12z" />
                                                                            <path d="m13 31h12v2h-12z" />
                                                                            <path d="m23 35h2v2h-2z" />
                                                                            <path d="m13 35h8v2h-8z" />
                                                                            <path d="m27 50c0-.551.449-1 1-1h1v-2h-1c-.551 0-1-.449-1-1 0-1.654-1.346-3-3-3h-1v2h1c.551 0 1 .449 1 1 0 .771.301 1.468.78 2-.48.532-.78 1.229-.78 2 0 .551-.449 1-1 1h-1v2h1c1.654 0 3-1.346 3-3z" />
                                                                            <path d="m9 51h12v2h-12z" />
                                                                            <path d="m13 47h8v2h-8z" />
                                                                            <path d="m9 47h2v2h-2z" />
                                                                            <path d="m9 43h12v2h-12z" />
                                                                            <path d="m5 39h20v2h-20z" />
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                                <h3 class="service__title"><a href="javascript:void(0)">Software Develop</a></h3>
                                                                <div class="service__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, porro.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="service__btn">
                                                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide col-lg-4">
                                                <!-- Slide7 -->
                                                <article class="service__item">
                                                    <div class="service__overlay"></div>
                                                    <div class="service__content">
                                                        <div class="d-table w-100">
                                                            <div class="d-table-cell align-middle">
                                                                <div class="service__icon">
                                                                    <svg enable-background="new 0 0 512 512" height="60px" viewBox="0 0 512 512" width="60px"
                                                                         fill="#5f2dee" xmlns="http://www.w3.org/2000/svg">
                                                                        <g id="_x35_48_x2C__Bulb_x2C__Light_x2C__Idea_x2C__Glowing">
                                                                            <g>
                                                                                <path d="m406 211.954c0-81.859-66.183-149.999-149.979-149.999-81.924 0-149.22 66.623-150.014 148.514-.323 33.262 10.023 64.865 29.917 91.392 24.015 32.02 42.274 57.207 48.1 74.139h-18.024c-5.523 0-10 4.478-10 10v40c0 5.522 4.477 10 10 10h30v20h-10c-5.523 0-10 4.478-10 10s4.477 10 10 10h10v20c0 5.522 4.477 10 10 10h100c5.522 0 10-4.478 10-10v-20h10c5.522 0 10-4.478 10-10s-4.478-10-10-10h-10v-20h30c5.522 0 10-4.478 10-10v-40c0-5.522-4.478-10-10-10h-18.143c5.456-16.476 22.7-40.201 48.105-73.99 19.651-26.133 30.038-57.274 30.038-90.056zm-110 274.046h-80v-50h80zm40-70c-19.697 0-142.048 0-160 0v-20h160zm-93.602-40-54.974-119.109 24.435-36.651c1.286-1.928 3.146-2.215 4.141-2.215s2.855.288 4.141 2.215l15.077 22.616c9.867 14.8 31.668 14.843 41.563 0l15.077-22.615c1.286-1.929 3.146-2.217 4.142-2.217.995 0 2.855.288 4.142 2.216l24.434 36.651-54.974 119.109zm64.742 0h-15.51l53.45-115.81c1.457-3.157 1.169-6.844-.76-9.737l-27.538-41.308c-9.868-14.8-31.668-14.844-41.564 0l-15.077 22.616c-1.286 1.928-3.146 2.216-4.141 2.216s-2.855-.288-4.142-2.216l-15.077-22.615c-9.866-14.8-31.668-14.843-41.563 0l-27.539 41.308c-1.929 2.893-2.216 6.58-.759 9.737l53.451 115.809h-15.531c-4.432-19.777-21.633-44.431-52.915-86.139-17.236-22.981-26.198-50.368-25.918-79.198.691-71.216 59.55-129.541 131.647-128.698 70.77.88 128.346 59.193 128.346 129.989 0 28.412-8.998 55.396-26.022 78.036-29.636 39.414-48.209 64.945-52.838 86.01z" />
                                                                                <path d="m246 476h20c5.522 0 10-4.478 10-10s-4.478-10-10-10h-20c-5.523 0-10 4.478-10 10s4.477 10 10 10z" />
                                                                                <path d="m256 46c5.522 0 10-4.477 10-10v-20c0-5.523-4.478-10-10-10-5.523 0-10 4.477-10 10v20c0 5.523 4.477 10 10 10z" />
                                                                                <path d="m397.421 70.437-14.142 14.143c-3.905 3.905-3.905 10.237 0 14.142 3.905 3.904 10.237 3.906 14.143-.001l14.142-14.143c3.905-3.905 3.905-10.237 0-14.142-3.907-3.905-10.239-3.904-14.143.001z" />
                                                                                <path d="m466 216h-20c-5.523 0-10 4.477-10 10s4.477 10 10 10h20c5.522 0 10-4.477 10-10s-4.478-10-10-10z" />
                                                                                <path d="m397.422 353.28c-3.906-3.904-10.238-3.904-14.143 0-3.905 3.906-3.905 10.237 0 14.143l14.142 14.141c3.906 3.904 10.237 3.905 14.143 0 3.905-3.906 3.905-10.237 0-14.143z" />
                                                                                <path d="m114.58 353.28-14.143 14.141c-3.905 3.904-3.906 10.236-.001 14.142 3.905 3.905 10.236 3.907 14.143.001l14.143-14.141c3.905-3.904 3.906-10.236.001-14.142-3.906-3.905-10.237-3.905-14.143-.001z" />
                                                                                <path d="m76 226c0-5.523-4.477-10-10-10h-20c-5.523 0-10 4.477-10 10s4.477 10 10 10h20c5.523 0 10-4.477 10-10z" />
                                                                                <path d="m114.579 98.722c3.904 3.904 10.237 3.905 14.143 0 3.905-3.905 3.905-10.237 0-14.143l-14.143-14.143c-3.905-3.905-10.237-3.905-14.143 0-3.905 3.905-3.905 10.237 0 14.143z" />
                                                                                <path d="m331.028 61.446c3.876 0 7.565-2.267 9.192-6.054l7.897-18.374c2.181-5.074-.165-10.955-5.238-13.136-5.08-2.183-10.956.165-13.137 5.239l-7.897 18.374c-2.845 6.621 2.052 13.951 9.183 13.951z" />
                                                                                <path d="m436.189 164.915 18.578-7.407c5.131-2.045 7.631-7.862 5.586-12.993-2.046-5.13-7.865-7.629-12.992-5.585l-18.578 7.407c-5.131 2.045-7.631 7.862-5.586 12.993 2.05 5.139 7.871 7.626 12.992 5.585z" />
                                                                                <path d="m452.88 299.744-18.374-7.898c-5.075-2.177-10.955.164-13.137 5.238-2.181 5.074.164 10.955 5.238 13.137l18.374 7.898c5.125 2.199 10.976-.211 13.137-5.238 2.181-5.074-.164-10.955-5.238-13.137z" />
                                                                                <path d="m75.811 287.086-18.578 7.406c-5.13 2.045-7.631 7.862-5.586 12.992s7.861 7.632 12.992 5.586l18.578-7.406c5.13-2.045 7.631-7.862 5.586-12.992-2.046-5.131-7.862-7.631-12.992-5.586z" />
                                                                                <path d="m85.393 141.781-18.375-7.899c-5.078-2.183-10.956.164-13.136 5.238-2.181 5.074.164 10.956 5.238 13.136l18.375 7.898c5.074 2.182 10.956-.165 13.136-5.238 2.181-5.073-.165-10.955-5.238-13.135z" />
                                                                                <path d="m176.337 53.217c1.561 3.916 5.319 6.299 9.292 6.299 7.021 0 11.915-7.114 9.286-13.706l-7.407-18.577c-2.046-5.13-7.863-7.629-12.993-5.585-5.13 2.046-7.631 7.863-5.585 12.993z" />
                                                                            </g>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                                <h3 class="service__title"><a href="javascript:void(0)">IT Consultancy</a></h3>
                                                                <div class="service__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, magni!</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="service__btn">
                                                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide col-lg-4">
                                                <!-- Slide8 -->
                                                <article class="service__item">
                                                    <div class="service__overlay"></div>
                                                    <div class="service__content">
                                                        <div class="d-table w-100">
                                                            <div class="d-table-cell align-middle">
                                                                <div class="service__icon">
                                                                    <svg fill="#5f2dee" id="outline" height="60px" viewBox="0 0 512 512" width="60px"
                                                                         xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="m120 264h24v16h-24z" />
                                                                        <path d="m176 304h24v16h-24z" />
                                                                        <path d="m120 304h40v16h-40z" />
                                                                        <path d="m56 304h48v16h-48z" />
                                                                        <path d="m104 344h96v16h-96z" />
                                                                        <path d="m56 344h32v16h-32z" />
                                                                        <path d="m152 384h48v16h-48z" />
                                                                        <path d="m56 384h80v16h-80z" />
                                                                        <path d="m104 424h48v16h-48z" />
                                                                        <path d="m56 424h32v16h-32z" />
                                                                        <path d="m480 240a8.00008 8.00008 0 0 0 -8-8h-48a8.00008 8.00008 0 0 0 -8 8v40h-40a8.00008 8.00008 0 0 0 -8 8v40h-40a8.00008 8.00008 0 0 0 -8 8v40h-40a8.00008 8.00008 0 0 0 -8 8v48h-57.37622a24 24 0 1 0 0 16h9.37622v24a8.00917 8.00917 0 0 1 -8 8h-176a8.00917 8.00917 0 0 1 -8-8v-184h40a24.0275 24.0275 0 0 0 24-24v-40h120a8.00917 8.00917 0 0 1 8 8v8h16v-8a24.0275 24.0275 0 0 0 -24-24h-121.37305a23.84385 23.84385 0 0 0 -16.9707 7.02979l-54.62695 54.627a23.84254 23.84254 0 0 0 -7.0293 16.97065v185.37256a24.0275 24.0275 0 0 0 24 24h176a24.0275 24.0275 0 0 0 24-24v-24h256v-16h-16zm-400-4.686v28.686a8.00917 8.00917 0 0 1 -8 8h-28.686zm112 212.686a8 8 0 1 1 8-8 8.00917 8.00917 0 0 1 -8 8zm96-56h32v40h-32zm48-48h32v88h-32zm48-48h32v136h-32zm48 136v-184h32v184z" />
                                                                        <path d="m40 216a23.99448 23.99448 0 0 0 21.65479-34.3407l24.00439-24.00464a23.9887 23.9887 0 0 0 32.9646-13.65466h34.75244a23.99529 23.99529 0 0 0 46.29028-4.03479l45.179-38.72473a24.00054 24.00054 0 1 0 -10.88281-11.745l-38.27324 32.80552a23.98335 23.98335 0 0 0 -42.31323 5.699h-34.75244a23.99718 23.99718 0 1 0 -44.27857 18.3407l-24.00439 24.00464a23.99872 23.99872 0 1 0 -10.34082 45.65466zm216-144a8 8 0 1 1 -8 8 8.00917 8.00917 0 0 1 8-8zm-80 56a8 8 0 1 1 -8 8 8.00917 8.00917 0 0 1 8-8zm-80 0a8 8 0 1 1 -8 8 8.00917 8.00917 0 0 1 8-8zm-56 56a8 8 0 1 1 -8 8 8.00917 8.00917 0 0 1 8-8z" />
                                                                        <path d="m329.56543 203.12067-52.87891 52.87933h-70.06274a24 24 0 1 0 0 16h17.37622v144h16v-144h40a8.00076 8.00076 0 0 0 5.65723-2.34326l57.73777-57.73774a104.28417 104.28417 0 1 0 -13.82959-8.79828zm-145.56543 68.87933a8 8 0 1 1 8-8 8.00917 8.00917 0 0 1 -8 8zm272.17041-91.85022-46.35547-52.14978h69.81738a87.7058 87.7058 0 0 1 -23.46191 52.14978zm23.46191-68.14978h-79.63232v-79.63251a88.14413 88.14413 0 0 1 79.63232 79.63251zm-95.63232-79.63251v87.63251a7.95881 7.95881 0 0 0 2.02734 5.30908l-.00683.00586 58.19726 65.47211a87.98307 87.98307 0 1 1 -60.21777-158.41956z" />
                                                                    </svg>
                                                                </div>
                                                                <h3 class="service__title"><a href="javascript:void(0)">Data Structuring</a></h3>
                                                                <div class="service__desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, nesciunt.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="service__btn">
                                                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide col-lg-4">
                                                <!-- Slide9 -->
                                                <article class="service__item">
                                                    <div class="service__overlay"></div>
                                                    <div class="service__content">
                                                        <div class="d-table w-100">
                                                            <div class="d-table-cell align-middle">
                                                                <div class="service__icon">
                                                                    <svg fill="#5f2dee" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="60px"
                                                                         height="60px">
                                                                        <g id="Layer_22" data-name="Layer 22">
                                                                            <path d="M59,32a9.01,9.01,0,0,0-9-9v2a7.008,7.008,0,0,1,7,7Z" />
                                                                            <path d="M58,47a3,3,0,0,0-2.816,2H53V44.637A12.993,12.993,0,0,0,50,19a12.686,12.686,0,0,0-2.12.183,15.982,15.982,0,0,0-31.76,0A12.686,12.686,0,0,0,14,19a12.993,12.993,0,0,0-3,25.637V49H8.816a3,3,0,1,0,0,2H12a1,1,0,0,0,1-1V44.949c.331.026.662.051,1,.051h1v8.184a3,3,0,1,0,2,0V45h4V43H14a11,11,0,1,1,2.778-21.631,1,1,0,0,0,1.251-.928,13.981,13.981,0,0,1,27.942,0,1,1,0,0,0,1.251.928A10.995,10.995,0,1,1,50,43H45v2h2v8.184a3,3,0,1,0,2,0V45h1c.338,0,.669-.025,1-.051V50a1,1,0,0,0,1,1h3.184A2.995,2.995,0,1,0,58,47ZM6,51a1,1,0,1,1,1-1A1,1,0,0,1,6,51Zm10,6a1,1,0,1,1,1-1A1,1,0,0,1,16,57Zm32,0a1,1,0,1,1,1-1A1,1,0,0,1,48,57Zm10-6a1,1,0,1,1,1-1A1,1,0,0,1,58,51Z" />
                                                                            <path d="M26.768,33.359a1.035,1.035,0,0,0-1.536,0l-5,6A1,1,0,0,0,21,41h2v9a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V41h2a1,1,0,0,0,.768-1.641ZM28,39a1,1,0,0,0-1,1v9H25V40a1,1,0,0,0-1-1h-.865L26,35.562,28.865,39Z" />
                                                                            <path d="M43,43H41V34a1,1,0,0,0-1-1H36a1,1,0,0,0-1,1v9H33a1,1,0,0,0-.768,1.641l5,6a1,1,0,0,0,1.536,0l5-6A1,1,0,0,0,43,43Zm-5,5.438L35.135,45H36a1,1,0,0,0,1-1V35h2v9a1,1,0,0,0,1,1h.865Z" />
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                                <h3 class="service__title"><a href="javascript:void(0)">Market Strategy</a></h3>
                                                                <div class="service__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quis.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="service__btn">
                                                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide col-lg-4">
                                                <!-- Slide10 -->
                                                <article class="service__item">
                                                    <div class="service__overlay"></div>
                                                    <div class="service__content">
                                                        <div class="d-table w-100">
                                                            <div class="d-table-cell align-middle">
                                                                <div class="service__icon">
                                                                    <svg fill="#5f2dee" height="60px" viewBox="0 0 60 60" width="60px" xmlns="http://www.w3.org/2000/svg">
                                                                        <g id="013---Data-Security">
                                                                            <path id="Shape" d="m7 11c1.65685425 0 3-1.34314575 3-3s-1.34314575-3-3-3-3 1.34314575-3 3 1.34314575 3 3 3zm0-4c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1-1-.44771525-1-1 .44771525-1 1-1z" />
                                                                            <path id="Shape" d="m15 11c1.6568542 0 3-1.34314575 3-3s-1.3431458-3-3-3-3 1.34314575-3 3 1.3431458 3 3 3zm0-4c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1-1-.44771525-1-1 .4477153-1 1-1z" />
                                                                            <path id="Shape" d="m25 11h12c1.6568542 0 3-1.34314575 3-3s-1.3431458-3-3-3h-12c-1.6568542 0-3 1.34314575-3 3s1.3431458 3 3 3zm0-4h12c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-12c-.5522847 0-1-.44771525-1-1s.4477153-1 1-1z" />
                                                                            <path id="Shape" d="m7 29c1.65685425 0 3-1.3431458 3-3s-1.34314575-3-3-3-3 1.3431458-3 3 1.34314575 3 3 3zm0-4c.55228475 0 1 .4477153 1 1s-.44771525 1-1 1-1-.4477153-1-1 .44771525-1 1-1z" />
                                                                            <path id="Shape" d="m15 29c1.6568542 0 3-1.3431458 3-3s-1.3431458-3-3-3-3 1.3431458-3 3 1.3431458 3 3 3zm0-4c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1-1-.4477153-1-1 .4477153-1 1-1z" />
                                                                            <path id="Shape" d="m25 29h12c1.6568542 0 3-1.3431458 3-3s-1.3431458-3-3-3h-12c-1.6568542 0-3 1.3431458-3 3s1.3431458 3 3 3zm0-4h12c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1h-12c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1z" />
                                                                            <path id="Shape" d="m7 41c-1.65685425 0-3 1.3431458-3 3s1.34314575 3 3 3 3-1.3431458 3-3-1.34314575-3-3-3zm0 4c-.55228475 0-1-.4477153-1-1s.44771525-1 1-1 1 .4477153 1 1-.44771525 1-1 1z" />
                                                                            <path id="Shape" d="m15 41c-1.6568542 0-3 1.3431458-3 3s1.3431458 3 3 3 3-1.3431458 3-3-1.3431458-3-3-3zm0 4c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1 1 .4477153 1 1-.4477153 1-1 1z" />
                                                                            <path id="Shape" d="m58.559 31.086c-3.4103103-.3806893-6.726213-1.362527-9.794-2.9-.4799261-.2505849-1.0520739-.2505849-1.532 0-1.0415946.5436608-2.1222533 1.0089491-3.233 1.392v-9.578c0-1.1045695-.8954305-2-2-2h-1v-2h1c1.1045695 0 2-.8954305 2-2v-12c0-1.1045695-.8954305-2-2-2h-40c-1.1045695 0-2 .8954305-2 2v12c0 1.1045695.8954305 2 2 2h1v2h-1c-1.1045695 0-2 .8954305-2 2v12c0 1.1045695.8954305 2 2 2h1v2h-1c-1.1045695 0-2 .8954305-2 2v13c0 .021.011.039.012.061.00591715.090371.02408324.1795194.054.265.00967236.0319095.02102146.0632864.034.094.04678634.1036082.11067894.198602.189.281l.006.007 3.705 3.706v1.586c0 1.6568542 1.34314575 3 3 3h30c1.6568542 0 3-1.3431458 3-3v-1.586l.9-.9 6.036 5.1c.6149398.5206198 1.5160602.5206198 2.131 0l7.193-6.073c2.3715265-1.9937305 3.7405137-4.9337587 3.74-8.032v-12.8c-.0033491-.8265859-.620623-1.5218222-1.441-1.623zm-56.559-29.086h40v12h-40zm3 14h34v2h-34zm-3 4h40v10.2c-1.4968992.3994998-3.0199671.6935542-4.558.88-.5531208.0697479-1.0325801.4165266-1.272.92h-34.17zm23 25c-.5522847 0-1-.4477153-1-1-.000531-.2698664.1105861-.5279331.307-.713.1824558-.1857836.4326157-.2893852.693-.287h11v2zm-20-11h31v2h-31zm-3 4h34v3h-11c-1.6534434.0082058-2.9917942 1.3465566-3 3 0 1.6568542 1.3431458 3 3 3h11.12c.1471208 1.0396369.4505484 2.0510624.9 3h-35.02zm36.263 14c.3423065.4281848.7170814.8293711 1.121 1.2l-.8.8h-33.17l-2-2zm-.263 5c0 .5522847-.4477153 1-1 1h-30c-.55228475 0-1-.4477153-1-1v-1h32zm20-11.491c-.0022912 2.5078587-1.1119337 4.8867096-3.032 6.5l-6.968 5.885-6.428-5.428c-.007-.007-.009-.016-.015-.023s-.039-.021-.056-.037l-.47-.4c-1.9188915-1.6128053-3.0280725-3.9903535-3.031-6.497v-12.478c1.8196337-.2388606 3.6173285-.622409 5.376-1.147h.017c1.5891457-.4694622 3.1313983-1.0850911 4.607-1.839 3.1405361 1.5535565 6.5218179 2.5632072 10 2.986z" />
                                                                            <path id="Shape" d="m40 42c0 4.418278 3.581722 8 8 8s8-3.581722 8-8-3.581722-8-8-8c-4.4155378.0066084-7.9933916 3.5844622-8 8zm14 0c0 3.3137085-2.6862915 6-6 6s-6-2.6862915-6-6 2.6862915-6 6-6c3.3116533.0049563 5.9950437 2.6883467 6 6z" />
                                                                            <path id="Path" d="m45.781 42.5c-.223291-.2790244-.5784781-.4177293-.9317659-.3638658-.3532877.0538634-.6510032.2921121-.781.625-.1299967.3328878-.0725251.7098414.1507659.9888658l1.5 1.875c.1834365.2293646.4584277.3664945.752.375h.029c.2833785-.0000744.5534198-.1203754.743-.331l4.5-5c.3563368-.411825.3176238-1.0330688-.0870838-1.397469s-1.0265947-.3379633-1.3989162.059469l-3.712 4.124z" />
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                                <h3 class="service__title"><a href="javascript:void(0)">Automated Software</a></h3>
                                                                <div class="service__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, dolore?</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="service__btn">
                                                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service__details-content">
                        <div class="service__details-title">
                            <h3>Frequenty Asked Questions</h3>
                        </div>
                        <div class="accordion__wrapper">
                            <div class="accordion__wrapper mb-30">
                                <div class="accordion faq__accordion" id="accordionExample">
                                    <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="1000">
                                        <h2 class="accordion-header" id="faq1">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Usability Testing
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="faq1"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                On the other hand we denounce with righteous indignation &amp;
                                                dislike men who are so beguiled and demoralized by the charms
                                                of pleasure of the moment.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="1500">
                                        <h2 class="accordion-header" id="faq2">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Design Making &amp; Develop
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="faq2"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Research helps you plan the best way to get your product from the
                                                manufacturer
                                                to the retail shelf. In addition to deciding which retailers should carry
                                                your
                                                product, you should determine where your inventory will be held.Research
                                                helps.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="2000">
                                        <h2 class="accordion-header" id="faq3">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Refund Policy
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="faq3"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                On the other hand we denounce with righteous indignation &amp;
                                                dislike men who are so beguiled and demoralized by the charms
                                                of pleasure of the moment.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="2000">
                                        <h2 class="accordion-header" id="faq4">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                                Company terms & conditions
                                            </button>
                                        </h2>
                                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="faq4"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                On the other hand we denounce with righteous indignation &amp;
                                                dislike men who are so beguiled and demoralized by the charms
                                                of pleasure of the moment.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="2000">
                                        <h2 class="accordion-header" id="faq5">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                                Working process
                                            </button>
                                        </h2>
                                        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="faq5"
                                             data-bs-parent="#accordionExample1">
                                            <div class="accordion-body">
                                                On the other hand we denounce with righteous indignation &amp;
                                                dislike men who are so beguiled and demoralized by the charms
                                                of pleasure of the moment.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service details area end -->
