 <!-- Page title area  -->
<section class="page-title-area breadcrumb__spacing" data-background="assets/img/bg/title-bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-9">
                <div class="page-title-wrapper text-center">
                    <h3 class="page-title mb-25">Services</h3>
                    <div class="breadcrumb__menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb__trail breadcrumbs">
                            <ul class="trail-items">
                                <li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
                                <li class="trail-item trail-end"><span>Services</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page title area end -->
<!-- Services Area Start Here  -->
<section class="services__area grey-bg-4 pt-115 md-pt-60 pb-120 md-pb-70">
    <div class="container">
        <div class="row justify-content-center mb-35">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span>What We’re Offering to Our Clients</span>
                    <h3 class="title">Real Time Dealing in all Professional IT Solution & Services</h3>
                </div>
            </div>
        </div>
        <div class="row service__wrap">
            <div class="col-xxl-4 col-lg-4 col-md-6 mb-30">
                <article class="service__item">
                    <div class="service__overlay"></div>
                    <div class="service__content">
                        <div class="d-table w-100">
                            <div class="d-table-cell align-middle">
                                <div class="service__icon">
                                    <svg id="Isolation_Mode" fill="#b882fc" width="60px" height="60px" enable-background="new 0 0 48 47.45" data-name="Isolation Mode" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 47.45">

                                      <path class="cls-1" d="m48,42.34c0-.08-.02-.16-.05-.24,0-.02-.01-.04-.02-.06,0-.01,0-.03-.02-.05l-3.6-6.49V14.78c0-1.7-1.38-3.08-3.08-3.08h-1.04V.73c0-.4-.33-.73-.73-.73H8.55c-.4,0-.73.33-.73.73v10.97h-1.04c-1.7,0-3.08,1.38-3.08,3.08v20.73L.09,42s-.01.03-.02.05c0,.02-.02.04-.02.06-.03.08-.05.16-.05.24,0,0,0,0,0,.01v2.18c0,1.6,1.31,2.91,2.91,2.91h42.18c1.6,0,2.91-1.31,2.91-2.91v-2.18s0,0,0-.01ZM9.27,7.52h29.45v23.22H9.27V7.52Zm0-6.06h29.45v4.61H9.27V1.46Zm-4.13,13.33c0-.9.73-1.63,1.63-1.63h1.04v18.31c0,.4.33.73.73.73h30.91c.4,0,.73-.33.73-.73V13.15h1.04c.9,0,1.63.73,1.63,1.63v20.19H5.15V14.78Zm-.3,21.65h38.31l2.88,5.2H1.96l2.89-5.2Zm41.7,8.11c0,.8-.65,1.45-1.45,1.45H2.91c-.8,0-1.45-.65-1.45-1.45v-1.46h45.09v1.46Z"/>
                                      <path class="cls-1" d="m35.9,3.25c-.14.13-.22.32-.22.51s.08.38.21.52c.14.14.33.21.52.21s.39-.07.52-.21c.14-.14.21-.32.21-.52s-.07-.38-.21-.51c-.27-.28-.76-.28-1.03,0Z"/>
                                      <path class="cls-1" d="m33.07,3.03c-.4,0-.73.33-.73.73s.33.73.73.73.73-.32.73-.73-.33-.73-.73-.73Z"/>
                                      <path class="cls-1" d="m29.21,3.25c-.14.13-.21.32-.21.51s.07.38.21.52c.13.14.32.21.52.21s.38-.07.51-.21c.14-.14.22-.32.22-.52s-.08-.38-.22-.52c-.27-.27-.76-.27-1.03,0Z"/>
                                      <path class="cls-1" d="m26.41,13.29c-.38-.14-.79.05-.94.43l-4.31,11.52c-.14.38.05.79.43.94.08.03.17.05.25.05.29,0,.57-.18.68-.47l4.31-11.52c.14-.38-.05-.79-.43-.93Z"/>
                                      <path class="cls-1" d="m18.42,15.29c-.26-.31-.72-.35-1.02-.09l-4.77,3.97c-.17.14-.26.34-.26.56s.1.42.26.56l4.77,3.97c.14.11.3.17.46.17.21,0,.42-.09.56-.26.26-.31.21-.77-.09-1.02l-4.1-3.41,4.1-3.41c.31-.26.35-.71.09-1.02Z"/>
                                      <path class="cls-1" d="m30.6,15.2c-.31-.26-.77-.21-1.02.09-.26.31-.21.77.09,1.02l4.1,3.41-4.1,3.41c-.31.26-.35.71-.09,1.02.14.17.35.26.56.26.16,0,.33-.06.46-.17l4.77-3.97c.17-.14.26-.34.26-.56s-.1-.42-.26-.56l-4.77-3.97Z"/>
                                    </svg>
                                </div>
                                <h3 class="service__title"><a href="javascript:void(0)">Web Development</a></h3>
                                <div class="service__desc">Kenang has experience in developing secure, scalable web applications customized to the unique needs of our clients. We make use of high-end technologies like .Net Core.</div>

                            </div>
                        </div>
                    </div>
                    <div class="service__btn">
                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 mb-30">
                <article class="service__item">
                    <div class="service__overlay"></div>
                    <div class="service__content">
                        <div class="d-table w-100">
                            <div class="d-table-cell align-middle">
                                <div class="service__icon">
                                    <svg id="Layer_1" fill="#b882fc" height="60px" width="60px" enable-background="new 0 0 67.53 109" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.53 109">

                                      <g id="NewGroupe1">
                                        <g id="NewGroup1-22">
                                          <g>
                                            <path class="cls-1" d="m65.26,104.31c0,1.34-1.09,2.42-2.42,2.42H4.69c-1.34,0-2.42-1.09-2.42-2.42V4.69c0-1.34,1.09-2.42,2.42-2.42h58.14c1.34,0,2.42,1.09,2.42,2.42v99.61h0ZM62.83,0H4.69C2.11,0,0,2.11,0,4.69v99.61c0,2.59,2.11,4.69,4.69,4.69h58.14c2.59,0,4.69-2.11,4.69-4.69V4.69c0-2.59-2.11-4.69-4.69-4.69h0Z"/>
                                            <path class="cls-1" d="m59.32,94.23c0,.36-.29.65-.65.65H8.84c-.35,0-.64-.29-.64-.64V8.84c0-.35.3-.65.65-.65h12.22c.18,0,.36.09.46.24l1.78,2.52c1.02,1.44,2.68,2.29,4.43,2.29h12.03c1.76,0,3.41-.86,4.44-2.3l1.77-2.51c.11-.15.28-.24.46-.24h12.23c.35,0,.64.29.64.64v85.39h0Zm-.64-88.3h-12.23c-.92,0-1.79.45-2.32,1.2l-1.77,2.51c-.6.84-1.56,1.34-2.58,1.34h-12.03c-1.02,0-1.99-.5-2.58-1.34l-1.77-2.51c-.53-.75-1.4-1.2-2.32-1.2h-12.22c-1.61,0-2.92,1.31-2.92,2.92v85.39c0,1.6,1.3,2.91,2.91,2.91h49.83c1.61,0,2.92-1.31,2.92-2.92V8.83c0-1.6-1.3-2.91-2.91-2.91h0Z"/>
                                            <path class="cls-1" d="m33.76,102.62c-.39,0-.69-.3-.69-.69s.31-.69.69-.69.69.31.69.69-.3.69-.69.69h0Zm0-3.65c-1.63,0-2.96,1.33-2.96,2.96s1.33,2.96,2.96,2.96,2.96-1.33,2.96-2.96-1.33-2.96-2.96-2.96h0Z"/>
                                            <path class="cls-1" d="m38.33,8.2h.68c.63,0,1.14-.51,1.14-1.14s-.51-1.14-1.14-1.14h-.68c-.63,0-1.14.51-1.14,1.14s.51,1.14,1.14,1.14h0Z"/>
                                            <path class="cls-1" d="m28.51,8.2h6.2c.63,0,1.14-.51,1.14-1.14s-.51-1.14-1.14-1.14h-6.2c-.63,0-1.14.51-1.14,1.14s.51,1.14,1.14,1.14h0Z"/>
                                            <path class="cls-1" d="m45.21,70.98h-22.89c-1.91,0-3.4-1.73-3.07-3.64l4.37-26h3.12l-.45,3.68h-.02c-.63,0-1.14.51-1.14,1.14s.51,1.14,1.14,1.14h2.06c.63,0,1.14-.51,1.14-1.14,0-.54-.38-.97-.89-1.09l.45-3.73h9.47l.45,3.73c-.5.12-.89.55-.89,1.09,0,.63.51,1.14,1.14,1.14h2.06c.63,0,1.14-.51,1.14-1.14s-.51-1.14-1.14-1.14h-.02l-.45-3.68h3.11s.09.03.09.06l4.29,25.95c.32,1.9-1.15,3.63-3.07,3.63h0Zm-15.47-35.46c.32-1.99,2.02-3.43,4.03-3.43s3.71,1.44,4.02,3.38l.44,3.6h-8.92l.43-3.55h0Zm16.49,5.51c-.19-1.13-1.17-1.96-2.33-1.96h-3.39l-.48-3.91c-.5-3.09-3.14-5.33-6.27-5.33s-5.77,2.24-6.28,5.38l-.47,3.87h-3.4c-1.15,0-2.12.82-2.32,1.96l-4.29,25.93c-.56,3.29,1.99,6.29,5.31,6.29h22.89c3.34,0,5.87-3.02,5.31-6.28l-4.29-25.95h0Z"/>
                                            <path class="cls-1" d="m33.76,62.38c-1.79,0-3.25-1.45-3.25-3.24s1.46-3.25,3.25-3.25,3.25,1.46,3.25,3.25-1.46,3.24-3.25,3.24h0Zm0-8.76c-3.04,0-5.52,2.48-5.52,5.52s2.48,5.51,5.52,5.51,5.52-2.47,5.52-5.51-2.48-5.52-5.52-5.52h0Z"/>
                                          </g>
                                        </g>
                                      </g>
                                    </svg>
                                </div>
                                <h3 class="service__title"><a href="javascript:void(0)">Mobile App Development</a></h3>
                                <div class="service__desc">We develop mobile apps and mobile-responsive web apps for all the most commonly used devices. Our skilled team focuses on providing high-end mobile applications with rich UI and faster performance.</div>

                            </div>
                        </div>
                    </div>
                    <div class="service__btn">
                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 mb-30">
                <article class="service__item">
                    <div class="service__overlay"></div>
                    <div class="service__content">
                        <div class="d-table w-100">
                            <div class="d-table-cell align-middle">
                                <div class="service__icon">
                                    <svg id="Layer_1" fill="#b882fc" width="60px" height="60px" enable-background="new 0 0 79.88 82" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.88 82">

                                        <g id="NewGroupe34">
                                            <g id="NewGroup0-5">
                                                <g>
                                                    <path class="cls-1" d="m78.17,25.02c0,2.61-2.12,4.73-4.73,4.73s-4.73-2.12-4.73-4.73v-1.75h9.46v1.75h0Zm-8.55,55.27H10.26c-1.5,0-2.71-1.22-2.71-2.71V31.35c1.92-.33,3.54-1.52,4.48-3.15,1.11,1.94,3.2,3.25,5.58,3.25s4.47-1.31,5.58-3.25c1.11,1.94,3.2,3.25,5.58,3.25s4.47-1.31,5.58-3.25c1.11,1.94,3.2,3.25,5.58,3.25s4.47-1.31,5.58-3.25c1.11,1.94,3.2,3.25,5.58,3.25s4.47-1.31,5.58-3.25c1.11,1.94,3.2,3.25,5.58,3.25s4.47-1.31,5.58-3.25c.93,1.63,2.56,2.81,4.48,3.15v46.22c0,1.5-1.22,2.71-2.71,2.71h0ZM1.71,25.02v-1.75h9.46v1.75c0,2.61-2.12,4.73-4.73,4.73s-4.73-2.12-4.73-4.73h0Zm5.45-11.04h7.71l-3.4,7.59H2.4l4.76-7.59h0ZM10.26,1.71h59.36c1.5,0,2.71,1.22,2.71,2.71v7.84H7.54v-7.84c0-1.5,1.22-2.71,2.71-2.71h0Zm58.15,19.85l-3.4-7.59h7.71l4.76,7.59h-9.07Zm-51.67-7.59h7.83l-2.04,7.59h-9.19l3.4-7.59h0Zm16.83,7.59h-9.27l2.04-7.59h7.91l-.68,7.59h0Zm11.01,0h-9.3l.68-7.59h7.94l.68,7.59h0Zm10.71-7.59h7.83l3.4,7.59h-9.19l-2.04-7.59h0Zm-9.68,0h7.91l2.04,7.59h-9.27l-.68-7.59h0Zm-23.29,9.3v1.75c0,2.61-2.12,4.73-4.73,4.73s-4.73-2.12-4.73-4.73v-1.75h9.46Zm11.17,0v1.75c0,2.61-2.12,4.73-4.73,4.73s-4.73-2.12-4.73-4.73v-1.75h9.46Zm11.17,0v1.75c0,2.61-2.12,4.73-4.73,4.73s-4.73-2.12-4.73-4.73v-1.75h9.46Zm11.17,0v1.75c0,2.61-2.12,4.73-4.73,4.73s-4.73-2.12-4.73-4.73v-1.75h9.46Zm11.17,0v1.75c0,2.61-2.12,4.73-4.73,4.73s-4.73-2.12-4.73-4.73v-1.75h9.46Zm12.87-.86c0-.16-.08-.36-.13-.45l-5.71-9.09V4.42c0-2.44-1.98-4.42-4.42-4.42H10.26c-2.44,0-4.42,1.98-4.42,4.42v8.45L.13,21.96c-.05.09-.13.29-.13.45,0,0,0,0,0,0v2.6c0,3.35,2.57,6.1,5.84,6.41v46.15c0,2.44,1.98,4.42,4.42,4.42h59.36c2.44,0,4.42-1.98,4.42-4.42V31.42c3.27-.3,5.84-3.06,5.84-6.41,0-.27,0,.97,0-2.61h0Z" />
                                                    <path class="cls-1" d="m13.72,6.17c.45,0,.81.37.81.81s-.37.82-.81.82-.82-.37-.82-.82.37-.81.82-.81h0Zm0,3.35c1.39,0,2.52-1.14,2.52-2.53s-1.13-2.52-2.52-2.52-2.53,1.13-2.53,2.52,1.14,2.53,2.53,2.53h0Z" />
                                                    <path class="cls-1" d="m20.41,6.17c.45,0,.81.37.81.81s-.37.82-.81.82-.82-.37-.82-.82.37-.81.82-.81h0Zm0,3.35c1.39,0,2.52-1.14,2.52-2.53s-1.13-2.52-2.52-2.52-2.53,1.13-2.53,2.52,1.14,2.53,2.53,2.53h0Z" />
                                                    <path class="cls-1" d="m27.1,6.17c.45,0,.81.37.81.81s-.37.82-.81.82-.82-.37-.82-.82.37-.81.82-.81h0Zm0,3.35c1.39,0,2.52-1.14,2.52-2.53s-1.13-2.52-2.52-2.52-2.53,1.13-2.53,2.52c0,1.4,1.14,2.53,2.53,2.53h0Z" />
                                                    <path class="cls-1" d="m44.34,7.84h23.5c.47,0,.85-.38.85-.85s-.38-.85-.85-.85h-23.5c-.47,0-.85.38-.85.85,0,.47.38.85.85.85h0Z" />
                                                    <path class="cls-1" d="m55.72,48.32l-3.25,11.22c-.11.4-.48.67-.89.67h-18.72l-4.23-13.08h26.2c.62,0,1.07.59.89,1.19h0Zm-18.42,20.51c0,1.41-1.15,2.56-2.56,2.56s-2.56-1.15-2.56-2.56,1.15-2.56,2.56-2.56,2.56,1.15,2.56,2.56h0Zm14.35-2.56c1.41,0,2.56,1.15,2.56,2.56s-1.15,2.56-2.56,2.56-2.56-1.15-2.56-2.56,1.15-2.56,2.56-2.56h0Zm3.17-20.84h-26.75l-.49-1.51c-.7-2.15-2.42-3.76-4.61-4.3l-3.77-.93c-.46-.11-.92.17-1.03.62-.11.46.17.92.62,1.03l3.77.93c1.62.4,2.89,1.58,3.4,3.17,6.24,19.3,5.44,16.82,6.69,20.7-1.29.73-2.18,2.11-2.18,3.7,0,2.35,1.91,4.27,4.27,4.27,2.06,0,3.79-1.47,4.18-3.41h8.55c.4,1.95,2.12,3.41,4.18,3.41,2.35,0,4.27-1.91,4.27-4.27s-1.91-4.27-4.27-4.27c-2.06,0-3.79,1.47-4.18,3.41h-8.55c-.41-2.02-2.29-3.63-4.65-3.37l-.87-2.68h18.17c1.17,0,2.21-.78,2.53-1.91l3.25-11.22c.49-1.69-.78-3.37-2.53-3.37h0Z" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="service__title"><a href="javascript:void(0)">E-commerce Solutions</a></h3>
                                <div class="service__desc">We provide software solutions for all aspects of the ecommerce experience. From custom API integrations, payments and merchant integrations, headless commerce and point-of-sale (POS) retail synchronization. </div>

                            </div>
                        </div>
                    </div>
                    <div class="service__btn">
                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 mb-30">
                <article class="service__item">
                    <div class="service__overlay"></div>
                    <div class="service__content">
                        <div class="d-table w-100">
                            <div class="d-table-cell align-middle">
                                <div class="service__icon">
                                    <svg id="_x33_0" enable-background="new 0 0 64 64" height="60px" viewBox="0 0 64 64"
                                         width="60px" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <path fill="#b882fc"
                                                  d="m32 17c-8.271 0-15 6.729-15 15s6.729 15 15 15 15-6.729 15-15-6.729-15-15-15zm0 28c-7.168 0-13-5.832-13-13s5.832-13 13-13 13 5.832 13 13-5.832 13-13 13z" />
                                            <path fill="#b882fc"
                                                  d="m37 27v-1c0-2.757-2.243-5-5-5s-5 2.243-5 5v1c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2v-10c0-1.103-.897-2-2-2zm-8-1c0-1.654 1.346-3 3-3s3 1.346 3 3v1h-6zm-2 13v-10h10l.001 10z" />
                                            <path fill="#b882fc"
                                                  d="m32 30c-1.654 0-3 1.346-3 3 0 1.302.839 2.402 2 2.816v2.184h2v-2.184c1.161-.414 2-1.514 2-2.816 0-1.654-1.346-3-3-3zm0 4c-.552 0-1-.449-1-1s.448-1 1-1 1 .449 1 1-.448 1-1 1z" />
                                            <path fill="#b882fc" d="m49 11h8v-6h-8zm2-4h4v2h-4z" />
                                            <path fill="#b882fc" d="m5 55h8v-10h-8zm2-8h4v6h-4z" />
                                            <path fill="#b882fc" d="m7 57h4v2h-4z" />
                                            <path fill="#b882fc"
                                                  d="m60 41h-5v-8h-4.051c.018-.333.051-.662.051-1s-.033-.667-.051-1h4.051v-11h5.5c1.379 0 2.5-1.122 2.5-2.5 0-.537-.177-1.069-.5-1.5l-1.5-2v-10c0-1.654-1.346-3-3-3h-10c-1.654 0-3 1.346-3 3v10l-1.501 2.001c-.148.198-.262.419-.345.651-1.276-.93-2.666-1.706-4.154-2.299v-1.537c1.161-.414 2-1.514 2-2.816 0-1.654-1.346-3-3-3s-3 1.346-3 3c0 1.302.839 2.402 2 2.816v.874c-1.285-.352-2.622-.567-4-.639v-6.235c1.161-.414 2-1.514 2-2.816 0-1.654-1.346-3-3-3s-3 1.346-3 3c0 1.302.839 2.402 2 2.816v6.235c-2.109.111-4.127.557-6 1.302v-3.537c1.161-.414 2-1.514 2-2.816 0-1.654-1.346-3-3-3s-3 1.346-3 3c0 1.302.839 2.402 2 2.816v4.457c-5.106 2.758-8.791 7.791-9.739 13.727h-2.261v-8h2.719c.62 0 1.194-.28 1.576-.769s.515-1.114.364-1.717l-.379-1.514h.72c1.654 0 3-1.346 3-3v-10c0-1.654-1.346-3-3-3h-12c-1.654 0-3 1.346-3 3v10c0 1.654 1.346 3 3 3h.719l-.379 1.516c-.149.602-.017 1.228.365 1.716s.956.768 1.576.768h2.719v10h4.051c-.018.333-.051.662-.051 1s.033.667.051 1h-4.051v8h-5c-1.654 0-3 1.346-3 3v16c0 1.654 1.346 3 3 3h10c1.654 0 3-1.346 3-3v-16c0-.151-.023-.296-.045-.441 1.63 2.116 3.68 3.89 6.045 5.168v4.457c-1.161.414-2 1.514-2 2.816 0 1.654 1.346 3 3 3s3-1.346 3-3c0-1.302-.839-2.402-2-2.816v-3.537c1.873.746 3.891 1.192 6 1.302v6.235c-1.161.414-2 1.514-2 2.816 0 1.654 1.346 3 3 3s3-1.346 3-3c0-1.302-.839-2.402-2-2.816v-6.235c1.378-.072 2.715-.288 4-.639v.874c-1.161.414-2 1.514-2 2.816 0 1.654 1.346 3 3 3s3-1.346 3-3c0-1.302-.839-2.402-2-2.816v-1.537c3.203-1.275 5.972-3.396 8.045-6.088-.022.145-.045.29-.045.441v16c0 1.654 1.346 3 3 3h10c1.654 0 3-1.346 3-3v-16c0-1.654-1.346-3-3-3zm-22-32c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm-14-2c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm-20-4h12c.552 0 1 .449 1 1v7h-14v-7c0-.551.448-1 1-1zm-1 11v-1h14v1c0 .551-.448 1-1 1h-12c-.552 0-1-.449-1-1zm3.28 5 .5-2h6.439l.499 2zm17.72 38c-.552 0-1-.449-1-1s.448-1 1-1 1 .449 1 1-.448 1-1 1zm14-2c-.552 0-1-.449-1-1s.448-1 1-1 1 .449 1 1-.448 1-1 1zm23-11v1h-12v-1c0-.551.448-1 1-1h10c.552 0 1 .449 1 1zm-12 3h12v10h-12zm4-18h-2.261c-.539-3.376-1.951-6.462-4.025-9h6.286zm-6-25c0-.551.448-1 1-1h10c.552 0 1 .449 1 1v9h-12zm-1.9 13.2 1.65-2.2h12.5l1.649 2.199c.066.088.101.192.101.301 0 .276-.225.5-.5.5h-7.5-7.5c-.275 0-.5-.224-.5-.5 0-.109.035-.213.1-.3zm-13.1-14.2c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm-17 57c0 .551-.448 1-1 1h-10c-.552 0-1-.449-1-1v-16c0-.551.448-1 1-1h10c.552 0 1 .449 1 1zm-1-19h-3v-6h2.261c.369 2.309 1.146 4.48 2.27 6.434-.45-.269-.97-.434-1.531-.434zm18 20c-.552 0-1-.449-1-1s.448-1 1-1 1 .449 1 1-.448 1-1 1zm0-12c-9.374 0-17-7.626-17-17s7.626-17 17-17 17 7.626 17 17-7.626 17-17 17zm18.739-14h2.261v6h-3c-.561 0-1.081.165-1.531.434 1.124-1.954 1.902-4.125 2.27-6.434zm9.261 26h-10c-.552 0-1-.449-1-1v-1h12v1c0 .551-.448 1-1 1z" />
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="service__title"><a href="javascript:void(0)">Custom API Integration</a></h3>
                                <div class="service__desc">Let us help you streamline your business and connect your services with custom API development and integration for your app or platform. We will integrate your business to critical information and data using secure API communication.</div>

                            </div>
                        </div>
                    </div>
                    <div class="service__btn">
                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-6 mb-30">
                <article class="service__item">
                    <div class="service__overlay"></div>
                    <div class="service__content">
                        <div class="d-table w-100">
                            <div class="d-table-cell align-middle">
                                <div class="service__icon">
                                    <svg id="Capa_1" fill="#b882fc" enable-background="new 0 0 512 512" height="60px"
                                         viewBox="0 0 512 512" width="60px" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <g>
                                                <path d="m238 371.49c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h36c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z" />
                                                <path d="m90 255.034h49.576c3.028 7.881 10.657 13.5 19.591 13.5s16.563-5.619 19.591-13.5h9.909c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-9.909c-3.028-7.881-10.657-13.5-19.591-13.5s-16.563 5.619-19.591 13.5h-49.576c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5zm69.167-13.5c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z" />
                                                <path d="m90 212.034h9.576c3.028 7.881 10.657 13.5 19.591 13.5s16.563-5.619 19.591-13.5h49.909c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-49.909c-3.028-7.881-10.657-13.5-19.591-13.5s-16.563 5.619-19.591 13.5h-9.576c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5zm29.167-13.5c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z" />
                                                <circle cx="190.167" cy="135.534" r="7.5" />
                                                <circle cx="169.5" cy="135.534" r="7.5" />
                                                <circle cx="148.833" cy="135.534" r="7.5" />
                                                <path d="m489.5 50.483h-2.809l2.095-2.095c6.275-6.275 6.275-16.486 0-22.761l-16.418-16.418c-6.275-6.274-16.485-6.274-22.761 0l-41.271 41.273h-385.836c-12.406 0-22.5 10.093-22.5 22.5v311.464c0 15.164 12.336 27.5 27.5 27.5h177.645v53.055h-36.145c-9.649 0-17.5 7.851-17.5 17.5v7.494c0 9.649 7.851 17.5 17.5 17.5h174c9.649 0 17.5-7.851 17.5-17.5v-7.494c0-9.649-7.851-17.5-17.5-17.5h-36.145v-53.055h80.145c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-359.5c-6.893 0-12.5-5.607-12.5-12.5v-22.2h482v22.2c0 6.893-5.607 12.5-12.5 12.5h-62.5c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h62.5c15.164 0 27.5-12.336 27.5-27.5v-311.463c0-12.406-10.094-22.5-22.5-22.5zm-146.5 429.519c1.379 0 2.5 1.122 2.5 2.5v7.494c0 1.378-1.121 2.5-2.5 2.5h-174c-1.379 0-2.5-1.122-2.5-2.5v-7.494c0-1.378 1.121-2.5 2.5-2.5zm-122.855-68.054h71.711v53.055h-71.711zm240.069-392.131c.428-.427 1.122-.426 1.548 0l16.417 16.417c.427.427.427 1.122 0 1.548l-15.665 15.665-17.965-17.965zm-26.272 26.272 17.964 17.965-5.231 5.231-17.964-17.965zm-15.838 15.838 17.965 17.965-88.751 88.751-17.965-17.965zm-11.104 68.569c10.201 0 18.5 8.299 18.5 18.5s-8.299 18.5-18.5 18.5-18.5-8.299-18.5-18.5c0-.119.016-.234.018-.353l18.132-18.129c.117-.002.232-.018.35-.018zm-72.706 46.337-22.197 9.066 9.066-22.197zm162.706 170.415h-482v-274.265c0-4.135 3.364-7.5 7.5-7.5h370.837l-11.436 11.436h-254.901c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h239.902l-52.901 52.904c-1.495 1.508-2.664 3.268-3.469 5.238l-16.753 41.016c-1.537 3.767-.671 8.06 2.206 10.936 1.931 1.931 4.499 2.955 7.118 2.955 1.284 0 2.579-.246 3.818-.751l41.015-16.752c1.914-.782 3.626-1.914 5.106-3.349l22.816-22.813c4.915 12.399 17.015 21.194 31.143 21.194 18.472 0 33.5-15.028 33.5-33.5 0-14.126-8.793-26.225-21.19-31.141l25.939-25.936h25.314v228.893h-3.975l-27.18-47.077c-2.07-3.588-6.66-4.817-10.245-2.745-3.587 2.071-4.816 6.658-2.745 10.245l22.85 39.577h-104.77l-11.237-19.463 52.385-90.733 23.271 40.308c2.072 3.587 6.659 4.817 10.245 2.745 3.587-2.071 4.816-6.658 2.745-10.245l-24.827-43.001c-2.387-4.134-6.661-6.602-11.435-6.602s-9.049 2.468-11.436 6.602l-49.61 85.927-63.654-110.251c-2.387-4.134-6.661-6.602-11.436-6.602-4.773 0-9.048 2.468-11.435 6.602l-16.911 29.291v-80.393c0-9.649-7.851-17.5-17.5-17.5h-128.664c-9.649 0-17.5 7.851-17.5 17.5v164c0 6.893 5.607 12.5 12.5 12.5h95.679l-11.152 19.316h-113.09v-228.895h50.563c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-53.063c-6.893 0-12.5 5.607-12.5 12.5v233.893c0 6.893 5.607 12.5 12.5 12.5h434.127c6.893 0 12.5-5.607 12.5-12.5v-233.893c0-6.893-5.607-12.5-12.5-12.5h-12.812l11.438-11.436h17.81c4.136 0 7.5 3.365 7.5 7.5zm-290.833-180.714v119.962h-133.667v-119.962zm-133.667-15v-26.538c0-1.378 1.121-2.5 2.5-2.5h128.667c1.379 0 2.5 1.122 2.5 2.5v26.538zm110.5 149.962h25.667c6.893 0 12.5-5.607 12.5-12.5v-15.887c1.876.9 3.965 1.387 6.153 1.387 5.12 0 9.704-2.648 12.263-7.081l12.764-22.107c.386-.668.976-.809 1.401-.809.427 0 1.017.141 1.402.809l7.869 13.629c2.56 4.435 7.145 7.082 12.266 7.082 5.12 0 9.705-2.647 12.264-7.081l1.954-3.384 37.676 65.257h-155.331zm38.167-53.493v-12.614l28.347-49.097 31.328 54.262-5.558 9.626-7.144-12.373c-3.004-5.203-8.384-8.309-14.393-8.309-6.008 0-11.388 3.106-14.392 8.309l-12.038 20.85z" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="service__title"><a href="javascript:void(0)">CMS Software Integration</a></h3>
                                <div class="service__desc">Let our team help you assemble content on your applications and deliver experiences faster. We build our partners admin dashboards and content management platforms with custom interfaces to help them deliver personalized experiences for their customers.   </div>
                            </div>
                        </div>
                    </div>
                    <div class="service__btn">
                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 mb-30">
                <article class="service__item">
                    <div class="service__overlay"></div>
                    <div class="service__content">
                        <div class="d-table w-100">
                            <div class="d-table-cell align-middle">
                                <div class="service__icon">
                                    <svg id="Layer_1" data-name="Layer 1"  fill="#b882fc" width="60px" height="60px" enable-background="new 0 0 314.21 311.15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 314.21 311.15">
                                      <path d="m223.88,282.07c-1.76,0-3.19-1.43-3.19-3.2v-70.2c0-1.76,1.43-3.19,3.19-3.19h31.9v-18.83h-64.4c-1.76,0-3.2-1.43-3.2-3.2v-17.02h-25.76v9.77c0,2.82-2.66,2.97-3.19,2.97s-3.2-.14-3.2-2.97v-9.77h-26.46v17.02c0,1.76-1.43,3.2-3.2,3.2H61.99v18.83h31.9c1.76,0,3.19,1.43,3.19,3.19v70.2c0,1.76-1.43,3.2-3.19,3.2H23.69c-1.76,0-3.19-1.43-3.19-3.2v-70.2c0-1.76,1.43-3.19,3.19-3.19h31.9v-22.02c0-1.76,1.43-3.2,3.19-3.2h64.4v-13.82H51.22c-13.28,0-25.9-5.02-35.54-14.12C5.94,143.13.38,130.8.02,117.61c-.38-13.69,4.67-26.63,14.21-36.44,9.08-9.33,21.22-14.72,34.19-15.18l2.86-.1.16-2.86C53.39,27.69,82.67,0,118.1,0c26.27,0,50.17,15.45,60.88,39.36l1.3,2.9,2.88-1.33c7.27-3.36,15.03-5.07,23.06-5.07,28.56,0,52.65,22.29,54.85,50.74l.26,3.33,3.31-.47c2.01-.29,4.06-.43,6.09-.43s3.99.14,5.98.41c19.94,2.69,35.65,19.21,37.37,39.26.86,10.01-2.57,19.83-9.41,26.92-6.64,6.88-15.93,10.83-25.5,10.83h-84.58v13.82h64.4c1.76,0,3.19,1.43,3.19,3.2v22.02h31.9c1.76,0,3.2,1.43,3.2,3.19v70.2c0,1.76-1.43,3.2-3.2,3.2h-70.2Zm3.2-6.39h63.8v-63.8h-63.8v63.8Zm-200.19,0h63.8v-63.8H26.89v63.8ZM118.1,6.39c-33.28,0-60.36,27.08-60.36,60.36,0,5.03-.77,5.61-7.5,5.61-11.94,0-23.1,4.71-31.43,13.27-8.32,8.55-12.72,19.85-12.4,31.8.64,23.49,20.74,42.61,44.8,42.61h227.96c7.84,0,15.46-3.23,20.9-8.87,5.65-5.85,8.36-13.64,7.65-21.94-1.47-17.1-14.87-31.17-31.86-33.47-1.7-.23-3.42-.35-5.1-.35-4.01,0-7.99.65-11.82,1.94-.58.19-1.09.29-1.51.29-2.51,0-2.58-6.09-2.58-6.78,0-26.81-21.81-48.62-48.62-48.62-9.22,0-18.2,2.6-25.98,7.53-.47.3-1,.45-1.58.45-1.22,0-2.71-.74-3.17-2.16-8.11-24.92-31.18-41.67-57.4-41.67Z"/>
                                      <path d="m124.14,311.15c-1.76,0-3.2-1.43-3.2-3.2v-70.2c0-1.76,1.43-3.19,3.2-3.19h31.9v-7.94c0-2.82,2.66-2.97,3.19-2.97s3.2.14,3.2,2.97v7.94h31.9c1.76,0,3.2,1.43,3.2,3.19v70.2c0,1.76-1.43,3.2-3.2,3.2h-70.19Zm3.19-6.39h63.8v-63.8h-63.8v63.8Z"/>
                                      <path d="m159.28,205.01c-1.08,0-2.09-.52-2.7-1.4-.94-1.46-.54-3.48.89-4.43.51-.34,1.11-.52,1.75-.52,1.1,0,2.1.52,2.68,1.39.46.69.62,1.58.45,2.43-.17.84-.64,1.55-1.32,2-.52.34-1.12.52-1.75.52h0Z"/>
                                    </svg>
                                </div>
                                <h3 class="service__title"><a href="javascript:void(0)">Cloud Management & Support</a></h3>
                                <div class="service__desc">We help businesses migrate their workloads and applications to Azure from on premises, data centers or other cloud providers like AWS. Our team is skilled in developing cloud-native applications and refactoring legacy software for the cloud. </div>
                            </div>
                        </div>
                    </div>
                    <div class="service__btn">
                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-6 mb-30">
                <article class="service__item">
                    <div class="service__overlay"></div>
                    <div class="service__content">
                        <div class="d-table w-100">
                            <div class="d-table-cell align-middle">
                                <div class="service__icon">
                                    <svg id="Layer_1" fill="#b882fc" width="60px" height="60px" enable-background="new 0 0 82 57.5" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82 57.5">

                                        <g id="NewGroupe13">
                                            <g id="NewGroup0-26">
                                                <g>
                                                    <path class="cls-1" d="m5.77,42.34h31.15c.47,0,.85-.38.85-.85s-.38-.85-.85-.85H5.77c-.47,0-.85.38-.85.85s.38.85.85.85h0Z" />
                                                    <path class="cls-1" d="m5.77,48.29h23.63c.47,0,.85-.38.85-.85s-.38-.85-.85-.85H5.77c-.47,0-.85.38-.85.85s.38.85.85.85h0Z" />
                                                    <path class="cls-1" d="m69.5,23.32s-.01,0-.02,0-.01,0-.02,0c-5.95,0-10.79-4.85-10.79-10.8,0,0,0,0,0,0,0,0,0,0,0,0,0-5.96,4.85-10.8,10.81-10.8s10.81,4.85,10.81,10.81-4.84,10.8-10.79,10.8h0Zm-.87,8.1H1.71v-9.33h59.74c1.97,1.66,4.46,2.71,7.18,2.89v6.44h0Zm0,21.94c0,1.34-1.09,2.43-2.43,2.43H4.13c-1.34,0-2.43-1.09-2.43-2.43v-20.24h66.92v20.24h0ZM1.71,15.79c0-1.34,1.09-2.43,2.43-2.43h52.88c.18,2.65,1.18,5.08,2.76,7.02H1.71v-4.6h0ZM69.49,0c-6.61,0-12.03,5.16-12.47,11.66H4.13c-2.28,0-4.13,1.85-4.13,4.13v37.57c0,2.28,1.85,4.13,4.13,4.13h62.07c2.28,0,4.13-1.85,4.13-4.13v-28.38c6.5-.44,11.66-5.86,11.66-12.47S76.39,0,69.49,0h0Z" />
                                                    <path class="cls-1" d="m69.49,11.66h0c-1.26,0-2.29-1.02-2.29-2.29s1.03-2.29,2.29-2.29,2.29,1.03,2.29,2.29c0,.47.38.85.85.85s.85-.38.85-.85c0-1.91-1.35-3.5-3.14-3.9v-.65c0-.47-.38-.85-.85-.85s-.85.38-.85.85v.65c-1.79.39-3.14,1.99-3.14,3.9,0,2.21,1.78,3.99,3.99,3.99,1.26,0,2.29,1.03,2.29,2.29s-1.03,2.29-2.29,2.29-2.29-1.03-2.29-2.29c0-.47-.38-.85-.85-.85s-.85.38-.85.85c0,1.91,1.35,3.5,3.14,3.9v.65c0,.47.38.85.85.85s.85-.38.85-.85v-.65c1.79-.39,3.14-1.99,3.14-3.9,0-2.2-1.79-3.99-3.99-3.99h0Z" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="service__title"><a href="javascript:void(0)">Payments & Merchant Integration</a></h3>
                                <div class="service__desc">Our team can help your business move transaction data securely and accurately with custom secure payments, financial technology providers and merchant software solutions</div>
                            </div>
                        </div>
                    </div>
                    <div class="service__btn">
                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-6 mb-30">
                <article class="service__item">
                    <div class="service__overlay"></div>
                    <div class="service__content">
                        <div class="d-table w-100">
                            <div class="d-table-cell align-middle">
                                <div class="service__icon">
                                    <svg id="Isolation_Mode" fill="#b882fc" width="60px" height="60px" enable-background="new 0 0 48 48" data-name="Isolation Mode" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">

                                        <path class="cls-1" d="m43.64,9.12h-2.52c.28-.78.44-1.61.44-2.48,0-2.79-1.64-5.37-4.17-6.57-.23-.11-.49-.09-.7.04-.21.13-.34.37-.34.61v6.53c-1.31.64-2.83.64-4.14,0V.73c0-.25-.13-.48-.34-.61-.21-.13-.48-.15-.7-.04-1.23.58-2.24,1.5-2.97,2.59-2.91-1.16-6.23-1.05-9.07.31l.37-2.12c.04-.21-.02-.43-.16-.59C19.21.1,19.01,0,18.79,0h-7.24c-.21,0-.42.09-.56.26-.14.16-.2.38-.16.59l1.21,6.91c.05.3.29.52.58.58v.77H4.36c-2.41,0-4.36,1.96-4.36,4.36v24.73c0,2.41,1.96,4.36,4.36,4.36h5.72v.78c0,2.57,2.09,4.65,4.65,4.65h.88c2.56,0,4.65-2.09,4.65-4.65v-.78h6.85c.4,2.31,1.9,4.33,4.05,5.36.23.11.49.09.7-.04.21-.13.34-.37.34-.62v-6.53c1.31-.64,2.83-.64,4.14,0v6.53c0,.25.13.48.34.62.12.08.25.11.39.11.11,0,.21-.02.31-.07,2.16-1.02,3.66-3.05,4.05-5.36h2.2c2.41,0,4.36-1.96,4.36-4.36V13.48c0-2.41-1.96-4.36-4.36-4.36Zm0,1.46c1.6,0,2.91,1.3,2.91,2.91v1.79c0,4.41-3.59,8-8,8h-.14v-10.65c.81-.56,1.47-1.26,1.98-2.05h3.25Zm-13.48,12.7h-12.43v-12.7h10.45c.51.79,1.18,1.5,1.98,2.05v10.65Zm-16.07,3.45V8.37h2.18v18.35h-2.18ZM27.54,3.97c-.34.84-.53,1.74-.53,2.67,0,.86.16,1.7.44,2.48h-9.72v-.77c.29-.05.53-.28.59-.58l.52-2.98c2.62-1.63,5.88-1.91,8.71-.82Zm-9.61-2.51l-.95,5.46h-3.61l-.95-5.46h5.51ZM1.45,13.48c0-1.6,1.3-2.91,2.91-2.91h8.26v12.7h-3.17c-4.41,0-8-3.59-8-8v-1.79Zm8.63,15.17v12.47h-5.72c-1.6,0-2.91-1.3-2.91-2.91v-17.92c1.67,2.66,4.63,4.44,8,4.44h3.17v1.99h-.61c-1.07,0-1.93.87-1.93,1.93Zm1.45,14.7v-14.7c0-.26.21-.48.48-.48h2.43v18.34c-1.63-.15-2.91-1.5-2.91-3.17Zm7.27,0c0,1.66-1.28,3.02-2.91,3.17v-18.34h2.43c.26,0,.48.21.48.48v14.7Zm-.48-16.63h-.61v-1.99h12.43v10.65c-1.91,1.32-3.06,3.42-3.13,5.74h-6.75v-12.47c0-1.07-.87-1.93-1.93-1.93Zm19.47,19.27v-5.67c0-.26-.13-.49-.35-.62-1.96-1.17-4.38-1.17-6.34,0-.22.13-.35.37-.35.62v5.67c-1.42-1.09-2.3-2.8-2.3-4.62,0-2.04,1.05-3.9,2.8-4.97.22-.13.35-.37.35-.62V12.23c0-.25-.13-.49-.35-.62-1.75-1.07-2.8-2.93-2.8-4.97,0-1.82.87-3.54,2.3-4.62v5.67c0,.25.13.49.35.62,1.96,1.17,4.38,1.17,6.34,0,.22-.13.35-.37.35-.62V2.02c1.42,1.09,2.3,2.8,2.3,4.62,0,2.04-1.05,3.9-2.8,4.97-.22.13-.35.37-.35.62v23.54c0,.25.13.49.35.62,1.75,1.07,2.8,2.93,2.8,4.97,0,1.82-.87,3.53-2.3,4.62Zm8.74-7.77c0,1.6-1.31,2.91-2.91,2.91h-2.1c-.08-2.32-1.22-4.43-3.13-5.74v-10.65h.14c3.37,0,6.33-1.78,8-4.44v17.92Z" />
                                    </svg>
                                </div>
                                <h3 class="service__title"><a href="javascript:void(0)">Support & Maintenance</a></h3>
                                <div class="service__desc">Software development is an iterative process, we get that. As the technology upgrades, the software that uses it must also undergo support and maintenance. We will cover maintenance during your launch window to ensure a smooth rollout, free of charge! </div>
                            </div>
                        </div>
                    </div>
                    <div class="service__btn">
                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>

          <div class="col-xxl-4 col-lg-4 col-md-6 mb-30">
                <article class="service__item">
                    <div class="service__overlay"></div>
                    <div class="service__content">
                        <div class="d-table w-100">
                            <div class="d-table-cell align-middle">
                                <div class="service__icon">
                                    <svg id="Layer_1" fill="#b882fc" width="60px" height="60px" enable-background="new 0 0 266.35 314.84" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.35 314.84">
                                        <path d="m3.28,314.84c-1.81,0-3.28-1.47-3.28-3.28v-49.44c0-.49.12-.99.33-1.43l17.44-36.05,19.45-108.53-19.35-35.06c-.26-.49-.41-1.06-.41-1.59V3.28c0-1.81,1.47-3.28,3.28-3.28h33.49c1.81,0,3.28,1.47,3.28,3.28v35.67h17.93V3.28c0-1.81,1.47-3.28,3.28-3.28h33.5c1.81,0,3.28,1.47,3.28,3.28v35.67h17.93V3.28c0-1.81,1.47-3.28,3.28-3.28h33.5c1.81,0,3.28,1.47,3.28,3.28v76.18c0,.54-.15,1.11-.42,1.61l-3.54,6.41.62,1.42c.19.42.28.87.28,1.32v24.68h11.02v-24.68c0-1.81,1.47-3.28,3.28-3.28h24.05c1.81,0,3.28,1.47,3.28,3.28v24.68h11.02v-24.68c0-1.81,1.47-3.28,3.28-3.28h24.05c1.81,0,3.28,1.47,3.28,3.28v54.7c0,1.54-1.3,3.62-2.44,5.45-.45.72-.88,1.4-1.26,2.09l-10.39,18.82,2.56,14.32c.18.99.01,1.77-.5,2.39-.63.75-1.75,1.22-2.91,1.22-.97,0-2.67-.32-3.05-2.45l-2.27-12.65h-69.23l8.42,47,6.22-.55v-16.33c0-9.86,8.03-17.89,17.89-17.89s17.89,8.03,17.89,17.89v27.61c0,1.81-1.47,3.28-3.28,3.28h-33.1l5.73,11.77h62.5l-1.77-9.89c-.18-.99,0-1.77.51-2.4.64-.77,1.77-1.24,2.94-1.24s2.65.43,3.01,2.48l2.38,13.31,12.42,25.5c.2.41.31.89.33,1.36,0,.05,0,.09,0,.14v35.44c0,1.81-1.47,3.28-3.28,3.28H3.28Zm187.8-6.57h68.7v-28.93h-68.7v28.93Zm-184.51,0h177.95v-42.87h-105.47c-2.88,0-3.03-2.73-3.03-3.28s.15-3.29,3.03-3.29h103.5l-14.38-29.52H22.8l-14.28,29.52h19.34c2.88,0,3.03,2.73,3.03,3.28s-.15,3.29-3.03,3.29H6.57v42.87Zm182.85-50.33c.16.32.32.64.49.97.61,1.18,1.18,2.3,1.18,3.21v10.66h66.74l-8.24-16.93v-2.41h-3.14s-59.21,0-59.21,0l2.19,4.51Zm7.37-65.05c-6.24,0-11.32,5.08-11.32,11.32v24.32h22.65v-24.32c0-6.24-5.08-11.32-11.32-11.32Zm-172.01,29.86h141.52l-18.63-103.93H43.4l-18.62,103.93Zm138.3-55.22h71.14l10.68-19.34h-85.28l3.47,19.34Zm-9.24-51.58l4.6,25.68h88.73v-48.13h-17.48v24.68c0,1.81-1.47,3.28-3.28,3.28h-17.59c-1.81,0-3.28-1.47-3.28-3.28v-24.68h-17.48v24.68c0,1.81-1.47,3.28-3.28,3.28h-17.59c-1.81,0-3.28-1.47-3.29-3.28v-8.28l-5.88-1.52-4.18,7.57Zm-111.23-3.69h105.77l16.29-29.52H26.3l16.29,29.52Zm-18.57-36.08h142.92V6.57h-26.93v35.67c0,1.81-1.47,3.28-3.28,3.28h-24.5c-1.81,0-3.28-1.47-3.28-3.28V6.57h-26.93v35.67c0,1.81-1.47,3.28-3.28,3.28h-24.49c-1.81,0-3.28-1.47-3.28-3.28V6.57h-26.93v69.61Z" />
                                        <path d="m75.14,203.78c-1.81,0-3.28-1.47-3.28-3.28v-40.59c0-14.76,13.04-21.48,25.15-21.48.19,0,.38,0,.58,0,11.89,0,21.53,9.63,21.53,21.48v40.59c0,1.81-1.47,3.28-3.28,3.28h-40.69Zm20.36-58.95c-8.49,0-17.08,5.18-17.08,15.07v37.31h34.12v-37.31c0-9.9-8.57-15.07-17.04-15.07Z" />
                                        <path d="m53.42,265.39c-1.34,0-2.58-.81-3.08-2.01-.68-1.65.13-3.61,1.77-4.29.38-.16.79-.24,1.21-.24,1.34,0,2.58.81,3.08,2.02.67,1.63-.14,3.6-1.78,4.28-.38.16-.79.24-1.2.24h0Z" />
                                        <path d="m244.14,214.36c-.96,0-1.93-.42-2.6-1.12-.59-.63-.87-1.38-.82-2.26.08-1.49,1.2-2.78,2.66-3.08.19-.04.39-.06.59-.06,1.08,0,2.17.58,2.77,1.47.87,1.31.65,3.17-.51,4.23-.59.54-1.29.81-2.08.81h0Z" />
                                    </svg>
                                </div>
                                <h3 class="service__title"><a href="javascript:void(0)">Product Strategy</a></h3>
                                <div class="service__desc">Your product strategy determines your success. That's why at Kenang we strive to build products that drive customer engagement and conversions. </div>
                            </div>
                        </div>
                    </div>
                    <div class="service__btn">
                        <a class="thm-btn thm-btn__primary" href="javascript:void(0)" tabindex="0">Read More<i class="icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Services Area end -->
<!-- Accordion Area Start Here  -->
<section class="faq__area pt-120 pb-100 wow fadeInUp" data-wow-duration="1.5s"
         data-wow-delay=".3s">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="accordion__wrapper">
                    <div class="accordion__wrapper mb-30">
                        <div class="accordion faq__accordion" id="accordionExample">
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="1000">
                                <h2 class="accordion-header" id="faq1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Usability Testing
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="faq1"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        On the other hand we denounce with righteous indignation &amp;
                                        dislike men who are so beguiled and demoralized by the charms
                                        of pleasure of the moment.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="accordion-header" id="faq2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Design Making &amp; Develop
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="faq2"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Research helps you plan the best way to get your product from the
                                        manufacturer
                                        to the retail shelf. In addition to deciding which retailers should carry
                                        your
                                        product, you should determine where your inventory will be held.Research
                                        helps.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="2000">
                                <h2 class="accordion-header" id="faq3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Refund Policy
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="faq3"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        On the other hand we denounce with righteous indignation &amp;
                                        dislike men who are so beguiled and demoralized by the charms
                                        of pleasure of the moment.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="2000">
                                <h2 class="accordion-header" id="faq4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        Company terms & conditions
                                    </button>
                                </h2>
                                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="faq4"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        On the other hand we denounce with righteous indignation &amp;
                                        dislike men who are so beguiled and demoralized by the charms
                                        of pleasure of the moment.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="2000">
                                <h2 class="accordion-header" id="faq5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                        Working process
                                    </button>
                                </h2>
                                <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="faq5"
                                     data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        On the other hand we denounce with righteous indignation &amp;
                                        dislike men who are so beguiled and demoralized by the charms
                                        of pleasure of the moment.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="accordion__wrapper">
                    <div class="accordion__wrapper mb-30">
                        <div class="accordion faq__accordion" id="accordionExample">
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="1000">
                                <h2 class="accordion-header" id="faq6">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                        Usability Testing
                                    </button>
                                </h2>
                                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="faq6"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        On the other hand we denounce with righteous indignation &amp;
                                        dislike men who are so beguiled and demoralized by the charms
                                        of pleasure of the moment.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="1500">
                                <h2 class="accordion-header" id="faq7">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                        Design Making &amp; Develop
                                    </button>
                                </h2>
                                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="faq7"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Research helps you plan the best way to get your product from the
                                        manufacturer
                                        to the retail shelf. In addition to deciding which retailers should carry
                                        your
                                        product, you should determine where your inventory will be held.Research
                                        helps.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="2000">
                                <h2 class="accordion-header" id="faq8">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        Refund Policy
                                    </button>
                                </h2>
                                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="faq8"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        On the other hand we denounce with righteous indignation &amp;
                                        dislike men who are so beguiled and demoralized by the charms
                                        of pleasure of the moment.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="2000">
                                <h2 class="accordion-header" id="faq9">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                        Company terms & conditions
                                    </button>
                                </h2>
                                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="faq9"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        On the other hand we denounce with righteous indignation &amp;
                                        dislike men who are so beguiled and demoralized by the charms
                                        of pleasure of the moment.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item aos-init" data-aos="fade-up" data-aos-duration="2000">
                                <h2 class="accordion-header" id="faq10">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                        Working process
                                    </button>
                                </h2>
                                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="faq10"
                                     data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        On the other hand we denounce with righteous indignation &amp;
                                        dislike men who are so beguiled and demoralized by the charms
                                        of pleasure of the moment.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Accordion Area end -->
<!-- Partners Area Start Here  -->
<div class="brand grey-bg-4 pt-35 pb-35">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span>Partners</span>
                    <h3 class="title">Our Trusted Clients</h3>
                </div>
            </div>
        </div>
        <div class="swiper-container brand-padd brand-active wow fadeInUp delay-0-3s">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="brand-items">
                        <a href="javascript:void(0)"><img src="assets/img/partner/01.png" alt="Partner"></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-items">
                        <a href="javascript:void(0)"><img src="assets/img/partner/02.png" alt="Partner"></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-items">
                        <a href="javascript:void(0)"><img src="assets/img/partner/04.png" alt="Partner"></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-items">
                        <a href="javascript:void(0)"><img src="assets/img/partner/05.png" alt="Partner"></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-items">
                        <a href="javascript:void(0)"><img src="assets/img/partner/06.png" alt="Partner"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partners Area end  -->
