<main id="main">

    <!--  - - - - - - - -  Breadcrumbs  - - - - - - - -  -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Our Services</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <div class="single-page">
        <div id="services" class="section">
            <div class="top-icon-box position-relative">
                <div class="container position-relative">
                    <div class="row gy-4">

                        <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-bezier"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Application Design</a></h4>
                                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--End Icon Box -->

                        <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-bullseye"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">SEO Optimization</a></h4>
                                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--End Icon Box -->


                        <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-cloud"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Cloud Server</a></h4>
                                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--End Icon Box -->

                        <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-instagram"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Social Media</a></h4>
                                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--End Icon Box -->

                        <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-send"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Digital Campaigns</a></h4>
                                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--End Icon Box -->


                        <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-code-slash"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Application Maintenance</a></h4>
                                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--End Icon Box -->


                        <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-palette"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Graphic Designs</a></h4>
                                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--End Icon Box -->


                        <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-phone"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Mobile Applications</a></h4>
                                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--End Icon Box -->


                        <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-shield-check"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Secure Data</a></h4>
                                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--End Icon Box -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</main><!-- End #main -->