<!-- - - - - - - - -  Service Hero Section - - - - - - - -  -->
<section id="service-hero" class="service-hero">
    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
            <div class="col-lg-7 d-flex flex-column align-items-start justify-content-center text-left caption">
                <h2 data-aos="fade-left" data-aos-delay="100">BUILD TRANSFORMATIVE WEB APPS. <span class="circle" data-aos="fade-left" data-aos-delay="150">EVOLVE YOUR BUSINESS.</span></h2>
                <p data-aos="zoom-out" data-aos-delay="500">Experience the advantage of superior web design, modern coding and accessibility that sets you ahead of your industry peers. </p>
                <div class="d-flex" data-aos-delay="2000" data-aos="zoom-out">
                    <a href="#about" class="btn-get-started">Contact Us</a>
                    @*                 <a href="https://www.youtube.com/watch?v=5KygwcZ545U&ab_channel=JonathanMickelson" class="glightbox btn-watch-video d-flex align-items-center">
                    <i class="bi bi-play-circle"></i><span>Watch Video</span>
                    </a>*@
                </div>
            </div>
     @*       <div class="col-lg-5 d-flex flex-column align-items-start justify-content-center text-left caption mobile-pt">
                <img src="assets/images/hero-img.png" class="img-fluid mb-4" alt="">
            </div>*@
        </div>
    </div>
</section>
<!-- End Service Hero Section -->